{% block first_index_section %}

<link rel="stylesheet" href="/static/css/dentist/first_index_section.css">

<div class="first-index-section">

    <div class="first-side">
        <h1>Top <strong>Personalized</strong> Dental Care Services</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit egestas venenatis et tellus et suspendisse nec dis magna amet rhoncus fames aliquam.</p>
        <div class="button-divs">
            <button id="button-one">Book Appointment</button>
            <button id="button-two">Get Free Consulting</button>
        </div>
    </div>

    <div class="second-side">
        <img src="/static/images/dentist/stock-image-one.png" alt="">
    </div>

</div>


<div class="buttom-things">

    <div class="first-buttom">
        <div class="img-h1">
            <img src="/static/images/dentist/thing1.png" alt="" width="60" height="30">
            <h1>Certified Dentist</h1>
        </div>
        <p>Lpsum dolor sit amet consectetur lor adipiscing elit convallis urna quisque id malesuada loremoi pellen demi text tesque.</p>
        <a href="#">Read More</a>
    </div>


    <div class="second-buttom">
        <div class="img-h1">
            <img src="/static/images/dentist/thing2.png" alt="" width="60" height="60">
            <h1>New Technology</h1>
        </div>
        <p>Lpsum dolor sit amet consectetur lor adipiscing elit convallis urna quisque id malesuada loremoi pellen demi text tesque.</p>
        <a href="#">Read More</a>
    </div>

    <div class="third-buttom">
        <div class="img-h1">
            <img src="/static/images/dentist/thing3.png" alt="" width="60" height="60">
            <h1>Accept Insurance</h1>
        </div>
        <p>Lpsum dolor sit amet consectetur lor adipiscing elit convallis urna quisque id malesuada loremoi pellen demi text tesque.</p>
        <a href="#">Read More</a>
    </div>

</div>

{% endblock first_index_section %}
















