{% block fourth_section %}
<link rel="stylesheet" href="/static/css/dentist/fourth-index-section.css">


<div class="fourth-section-container">
    <h1>Features That You Will Love <strong>Us and Enjoy Specialized</strong> Care</h1>

    <div class="fourth-stuff">

        <div class="thing1">
            <div class="txt-img">
                <img src="/static/images/dentist/thing1.png" alt="" width="60" height="60">
                <h1>Patient Care</h1>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
        </div>

        <div class="thing1">
            <div class="txt-img">
                <img src="/static/images/dentist/thing2.png" alt="" width="60" height="60">
                <h1>Experience</h1>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
        </div>

        <div class="thing1">
            <div class="txt-img">
                <img src="/static/images/dentist/thing3.png" alt="" width="60" height="60">
                <h1>Certified Dentists</h1>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
        </div>

        <div class="thing1">
            <div class="txt-img">
                <img src="/static/images/dentist/thing1.png" alt="" width="60" height="60">
                <h1>Quality Brackets</h1>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
        </div>


    </div>


</div>



{% endblock fourth_section %}