{% block reviews %}
<link rel="stylesheet" href="/static/css/reviews.css">
<link rel="stylesheet" href="/static/css/dentist/reviews.css">

<div class="reviews-container">

    <div class="header-button">
        <div class="header-div">
            <h1>Read Real Review From <strong>Our Valuable Customers </strong>On Our Services</h1>
        </div>

        <div class="button-div">
            <button>See All Reviews</button>
        </div>
    </div>

    <div class="reviews-container">
        <div class="review-page" id="review-page-1">

          <div class="review">
            <img src="/static/images/dentist/stars.png" alt="" width="200" height="40">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia iste nihil eius amet deleniti quos eligendi voluptates iusto sint voluptatem.</p>
            <h2>Josh Holler</h2>
          </div>

          <div class="review">
            <img src="/static/images/dentist/stars.png" alt="" width="200" height="40">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia iste nihil eius amet deleniti quos eligendi voluptates iusto sint voluptatem.</p>
            <h2>Jessica Pickel</h2>
          </div>

        </div>

        <div class="review-page" id="review-page-2">

            <div class="review">
                <img src="/static/images/dentist/stars.png" alt="" width="200" height="40">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia iste nihil eius amet deleniti quos eligendi voluptates iusto sint voluptatem.</p>
                <h2>Michael Kindle</h2>
              </div>
    
              <div class="review">
                <img src="/static/images/dentist/stars.png" alt="" width="200" height="40">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia iste nihil eius amet deleniti quos eligendi voluptates iusto sint voluptatem.</p>
                <h2>Enilia Win</h2>
              </div>

        </div>

        <div class="page-indicator">
          <div class="page-indicator-circle" id="page-indicator-1"></div>
          <div class="page-indicator-circle" id="page-indicator-2"></div>
        </div>
      </div>
      
</div>


<script src="/static/js/dentist/reviews.js"></script>




{% endblock reviews %}