{% block second_index_section %}

<link rel="stylesheet" href="/static/css/dentist/second-index-section.css">



<div class="second-section">

    <div class="first-thing">

        <div class="first-thing-h1">
            <h1>Enjoy Specialized <strong>Care Through Precision,</strong> Artistry, And Experience</h1>
        </div>

        <div class="second-section-button">
            <button>View All Services</button>
        </div>

    </div>


    <div class="second-thing">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/static/images/dentist/card1.png" alt="Card image cap" height="300">
            <div class="card-body">
              <h5 class="card-title">Teeth Cleaning</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>


          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/static/images/dentist/card2.jpg" alt="Card image cap" height="300">
            <div class="card-body">
              <h5 class="card-title">Teeth Whitening</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>


          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/static/images/dentist/card3.png" alt="Card image cap" height="300">
            <div class="card-body">
              <h5 class="card-title">Orthodontics</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>


          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/static/images/dentist/card4.png" alt="Card image cap" height="300">
            <div class="card-body">
              <h5 class="card-title">Dental Implants</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>

    </div>
</div>





{% endblock second_index_section %}