{% block third_index_section %}

<link rel="stylesheet" href="/static/css/dentist/third-index-section.css">



<div class="third-section-container">


    <div class="first-side-third">
        <div class="stuff">
            <h1>We Are A <strong>Award-Winning And Certified </strong>Hospital</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Coectetur tibulum orci ullamcorper elit ullamcorper. Fusce posuere vitae egestas equalin tellus. Dictumst venenatis sapien massa sed eget risus. Massa scelesque orurna tempor interdum.</p>
            <button>Read More</button>
        </div>
    </div>



    <div class="second-side">

        <div class="top-section">

            <div class="first">
                <h4>Quality Patients Care</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut</p>
            </div>

            <div class="first">
                <h4>Experience Dentist</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut</p>
            </div>

        </div>

        <div class="percentage">

            <div class="p1">
                <h1 style="color: rgb(89, 157, 247);">70%</h1>
                <h1>Dental Prevention</h1>
            </div>

            <div class="p1">
                <h1 style="color: rgb(89, 157, 247);">80%</h1>
                <h1>Shiny Smiles</h1>
            </div>

            <div class="p1">
                <h1 style="color: rgb(89, 157, 247);">50%</h1>
                <h1>All Age Vistors</h1>
            </div>

        </div>
    </div>




              

    </div>

</div>








{% endblock third_index_section %}