{% block contact %}
<link rel="stylesheet" href="/static/css/tattoo/contact.css">



<br>
<div class="contact_thing">

    <div class="contact_us">
        <img src="/static/images/tattoo/con.jpg" alt="" width="520" height="500">

        <div class="contact_us_inner_div">
            <h1>Contact</h1>
            <p>Call: 999-999-9999</p>
            <p>someEmail@gmail.com</p>
            <p>123 Street Ave, Arlington, TX</p>

            <h3>Stay informed with us</h3>
            <input type="email" name="" id="" placeholder="Enter Your Email"><br>
            <button>Subscribe</button>
        </div>

    </div>


    <div class="get_quote">
        <img src="/static/images/tattoo/con2.jpg" alt="" width="520" height="500">

        <div class="quote_us">
            <h1>Quote</h1>
            <div class="quote_names">
                <input  type="input" name="" id="input_name" placeholder="Name">
                <input type="input" name="" id="input_email" placeholder="Email">
            </div>

            <div class="quote_sub_phone">
                <input type="input" name="" id="input_subject" placeholder="Subject">
                <input type="input" name="" id="input_phone" placeholder="Phone">
            </div>

            <input type="message" name="" id="input_message" placeholder="Message"><br>

            <button>Get Quote</button>
        </div>
        
    </div>

</div>

<br><br>





{% endblock contact %}