{% block footer %}
<link rel="stylesheet" href="/static/css/tattoo/footer.css">



<footer>

<div class="main_footer">

    <div class="footer_container">

        <div class="first_footer_thing">
            <img src="/static/images/tattoo/imgbin-ink-princess-tattoo-logo-video-stay-true-tattoo-Nt8dcgLmWzsPFshHCP7jmF5Px-removebg-preview.png" alt="" height="100" width="180">
            <p>1994 - 2023 Stay True Tattoo Shop</p>
        </div>

        <div class="stuff_one">
            <h1>About Company</h1>
            <a href="#"><p>Our Work</p></a>
            <a href="#"><p>About Us</p></a>
            <a href="#"><p>History</p></a>
            <a href="#"><p>Loctations</p></a>
        </div>

        <div class="stuff_one">
            <h1>Services</h1>
            <a href="#"><p>Tattoos</p></a>
            <a href="#"><p>Piercing</p></a>
            <a href="#"><p>Cover Ups</p></a>
            <a href="#"><p>Shop</p></a>
        </div>


        <div class="last">
            <h1>Call 999-999-9999</h1>
            <div class="main_footer_links">
                <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            </div>
        </div>



    </div>



</div>


</footer>




{% endblock footer %}