{% block artists %}
<link rel="stylesheet" href="/static/css/tattoo/our_artists.css">

<hr>

<div class="meet_our_artists">
    <h1>Meet Our Artists<br>. . .</h1>

    <div class="artists">
        
        <div class="artist_one">
            <img src="/static/images/tattoo/jd1.png" alt=""  height="200" width="200">
            <p>~ John Doe ~</p>
            <div class="artist_one_links">
                <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>

            </div>
        </div>


        <div class="artist_one">
            <img src="/static/images/tattoo/jad2.jpg" alt="" height="200" width="200">
            <p>~ Jane Doe ~</p>
            <div class="artist_one_links">
                <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>

            </div>
        </div>


        <div class="artist_one">
            <img src="/static/images/tattoo/jd3.png" alt="" height="200" width="200">
            <p>~ Jenny Doe ~</p>
            <div class="artist_one_links">
                <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>

            </div>
        </div>


    </div>
</div>


{% endblock artists %}