{% block second_side %}
<link rel="stylesheet" href="/static/css/tattoo/third_side.css">


<div class="third_thing">

    <div class="left_side_thing">
        <h1>Stay True has been offering top</h1>
        <h2>quality work since 1994</h2>
        <hr>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa necessitatibus, sed expedita aperiam, nihil cupiditate magni tenetur nisi odio possimus in consequatur perspiciatis maxime distinctio culpa saepe, obcaecati rem recusandae.</p>
        <button>Read More</button>
    </div>


    <div class="right_side_thing">
        <img src="/static/images/tattoo/side_thing.jpg" alt="">


    </div>
</div>



{% endblock second_side %}