*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "New Times Roman" Times serif;
    text-decoration: none;
}


.navbar-container {
    position: fixed;
    top: 0; left:0; right: 0;
    background-color: rgba(117, 117, 117, 0.466);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 5px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.navbar-container.scrolled {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.541);
  }

/* css code for the CEJ Van Niekirk navbar logo */
.navbar-container .logo {
    font-weight: bolder;
    font-size: 25px;
    color: rgb(226, 226, 226);
    text-shadow: 1px 1px rgb(163, 163, 163);
    text-decoration: none;
    text-align: center;
    letter-spacing: 5px;
}
.navbar-container .logo p {
    font-size: 15px;
}
.navbar-container .logo:hover {
    text-shadow: 2px 2px rgba(126, 126, 126, 0.493);
}

.navbar-container .navbar ul {
    list-style: none;
}

.navbar-container .navbar ul li {
    position: relative;
    float: left;
    text-decoration: none;
}

.navbar-container .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: rgb(226, 226, 226);
    border-radius: 20px;
    display: block;
    text-decoration: none;
}

.navbar-container .navbar ul li a:hover {
    color: white;
    text-decoration: underline;
}

.navbar-container .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: rgb(75, 75, 75);
    display: none;
}

.navbar-container .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}


.navbar-container .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

.navbar-container .navbar ul li:hover > ul {
    display: initial;
}



#menu-bar {
    display: none;
}

.navbar-container label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}


@media(max-width:991px){
    .navbar-container{
        padding: 20px;
    }

    .navbar-container label {
        display: initial;
    }

    .navbar-container .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: white;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }

    .navbar-container .navbar ul li {
        width: 100%;
    }

    .navbar-container .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    .navbar-container .navbar ul li ul li {
        background: #eee;
    }

    .navbar-container .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }
}

