<div class="grid-container">

    <div class="child-one">
        <img src="/static/images/photography/image_example_seven.jpg.png" alt="">
        <div class="child-holder">
            <h4>Misty</h4>
            <p>Washington State has a mist that covers the high trees and has an errie feel on certain days. The dark and grey has a cool and calm feel.</p>
        </div>
    </div>




    <div class="child-two">
        <div class="child-holder">
            <h4>Mountains</h4>
            <p>The Cascade Mountains stretch from north California up until Canada. West of the cascades is the grey and dark side.</p>
        </div>
        <img src="/static/images/photography/image_example_three.jpg" alt="">
    </div>


    <div class="child-two-smaller">
        <img src="/static/images/photography/image_example_three.jpg" alt="">
        <div class="child-holder">
            <h4>Mountains</h4>
            <p>The Cascade Mountains stretch from north California up until Canada. West of the cascades is the grey and dark side.</p>
        </div>
    </div>

</div>