


<div class="shoreline-container">
    <div class="stuff-inside-container">
        <img src="/static/images/photography/image_example_four.jpg.png" alt="">

        <div class="header-and-paraprah-container">
            <h4>Shoreline</h4>
            <p>Washington State has a beautiful shoreline showcases the pacific ocean. But during certain times of the year, some months even the beaches
                are empty, grey and eerie with mist over the horizon.</p>
        </div>

    </div>
</div>