
{% block bestSellers %}

<div class="best_sellers_main_container">

    <div class="header">
        <h1>Best Seller</h1>
    </div>

    <div class="sellers">

        <a href="#" class="item">
            <img src="/static/images/sites/subway/seller_one.png" alt="">
            <h1>Steak & Cheese</h1>
        </a>

        <a href="#" class="item">
            <img src="/static/images/sites/subway/seller_two.png" alt="">
            <h1>Tuna</h1>
        </a>

        <a href="#" class="item">
            <img src="/static/images/sites/subway/seller_three.png" alt="">
            <h1>Black Forest Ham</h1>
        </a>

        <a href="#" class="item">
            <img src="/static/images/sites/subway/seller_four.png" alt="">
            <h1>Spicy Italian</h1>
        </a>

    </div>
</div>



{% endblock bestSellers %}