

{% block last_index %}



<div class="last_index">
    
    <div class="stuff_inside">
        <h1>Order how you want, when you want</h1>

        <p>Getting Subway® has never been easier!</p>

        <a href="#"><button>START ORDER</button></a>
    </div>


    <img src="/static/images/sites/subway/subway_image_two.png" alt="">
</div>


<div class="last_index_smaller">


    <img src="/static/images/sites/subway/subway_image_two.png" alt="">
    
    <div class="stuff_inside">
        <h1>Order how you want, when you want</h1>

        <p>Getting Subway® has never been easier!</p>

        <a href="#"><button>START ORDER</button></a>
    </div>

</div>

<br><br><br><br>


{% endblock last_index %}