{% block rewards %}

<div class="rewards_and_deals_main_container">

    <div class="rewards-header">
        <h1>Rewards And Deals</h1>
    </div>


    <div class="rewards">
        
        <div class="deal_black_one">
            <h1>Get 3X tokens</h1>

            <p>Membership has its rewards-earn 3x tokens during your first week.
                Get your favorites and earn big time.
            </p>

            <a href="#">Terms & Conditions Apply</a>

            <div class="btn-div">
                <a href="#"><button>SIGN UP</button></a>
            </div>


            <img src="/static/images/sites/subway/reward_one.png" alt="">
            
        </div>


        <div class="deal_white">
            <h1>Tea Time!</h1>

            <p>A tasty Subway® Fresh Brewed Tea is the perfect complement to any meal.
            </p>

            <a href="#">Terms & Conditions Apply</a>

            <div class="btn-div">
                <a href="#"><button>ORDER NOW</button></a>
            </div>

            <img src="/static/images/sites/subway/reward_two.png" alt="">
            
        </div>



        <div class="deal_black_two">
            <h1>Subway® Catering delivers a win</h1>

            <p>It's a tourney time; order online and win big with big flavor for your hosting party.
            </p>

            <a href="#">Terms & Conditions Apply</a>

            <div class="btn-div">
                <a href="#"><button>LEARN MORE</button></a>
            </div>

            <img src="/static/images/sites/subway/reward_three.png" alt="">
            
        </div>
    </div>

</div>


{% endblock rewards %}