<div class="two-options-main-container">

    <div class="option">
        <img src="/static/images/sites/fast_food/option1.jpg" alt="" width="150" height="150">
        <div class="option-des">
            <h5>Burger Thursdays</h5>
            <p>20% off</p>
            <a href="#"><button>Order Now <i class="fa-solid fa-cart-shopping"></i></button></a>
        </div>

    </div>

    <div class="option">
        <img src="/static/images/sites/fast_food/option2.jpg" alt="" width="150" height="150">
        <div class="option-des">
            <h5>Pizza Days</h5>
            <p>15% off</p>
            <a href="#"><button>Order Now <i class="fa-solid fa-cart-shopping"></i></button></a>
        </div>

    </div>

</div>