<div class="our-menu-header">
    <h1>Our Menu</h1>
</div>

<div class="menu-container">


    <div class="menu">

        <h2 class="menu-group-heading">
            Entrées
        </h2>

        <div class="menu-group">

            <div class="menu-item">
                <img src="/static/images/sites/fast_food/entree1.jpg" alt="" class="menu-item-image">

                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Chili Bowl</span>
                        <span class="menu-item-name">$7.20</span>
                    </h3>
                    <p class="menu-item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae consequuntur officia earum dignissimos. Ipsa ea dolor ut amet ex sequi magni, doloremque incidunt quam neque cumque eaque nam delectus eius.</p>
                    <a href="#"><button>Add To Cart</button></a>
                </div>
                
            </div>

            <div class="menu-item">
                <img src="/static/images/sites/fast_food/entree2.jpg" alt="" class="menu-item-image">

                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Bread Sticks</span>
                        <span class="menu-item-name">$3.99</span>
                    </h3>
                    <p class="menu-item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae consequuntur officia earum dignissimos. Ipsa ea dolor ut amet ex sequi magni, doloremque incidunt quam neque cumque eaque nam delectus eius.</p>
                    <a href="#"><button>Add To Cart</button></a>
                </div>
                
            </div>

            <div class="menu-item">
                <img src="/static/images/sites/fast_food/entree3.jpg" alt="" class="menu-item-image">

                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Chicken Salad</span>
                        <span class="menu-item-name">$5.00</span>
                    </h3>
                    <p class="menu-item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae consequuntur officia earum dignissimos. Ipsa ea dolor ut amet ex sequi magni, doloremque incidunt quam neque cumque eaque nam delectus eius.</p>
                    <a href="#"><button>Add To Cart</button></a>
                </div>
                
            </div>

            <div class="menu-item">
                <img src="/static/images/sites/fast_food/entree4.jpg" alt="" class="menu-item-image">

                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Spicy Fries</span>
                        <span class="menu-item-name">$2.99</span>
                    </h3>
                    <p class="menu-item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae consequuntur officia earum dignissimos. Ipsa ea dolor ut amet ex sequi magni, doloremque incidunt quam neque cumque eaque nam delectus eius.</p>
                    <a href="#"><button>Add To Cart</button></a>
                </div>
                
            </div>

        </div>



    </div>





    <div class="menu">

        <h2 class="menu-group-heading">
            Burgers
        </h2>

        <div class="menu-group">

            <div class="menu-item">
                <img src="/static/images/sites/fast_food/burger1.jpg" alt="" class="menu-item-image">

                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Beef Burger</span>
                        <span class="menu-item-name">$14.20</span>
                    </h3>
                    <p class="menu-item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae consequuntur officia earum dignissimos. Ipsa ea dolor ut amet ex sequi magni, doloremque incidunt quam neque cumque eaque nam delectus eius.</p>
                    <a href="#"><button>Add To Cart</button></a>
                </div>
                
            </div>

            <div class="menu-item">
                <img src="/static/images/sites/fast_food/burger2.jpg" alt="" class="menu-item-image">

                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Double Beef Burger</span>
                        <span class="menu-item-name">$16.99</span>
                    </h3>
                    <p class="menu-item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae consequuntur officia earum dignissimos. Ipsa ea dolor ut amet ex sequi magni, doloremque incidunt quam neque cumque eaque nam delectus eius.</p>
                    <a href="#"><button>Add To Cart</button></a>
                </div>
                
            </div>

            <div class="menu-item">
                <img src="/static/images/sites/fast_food/burger3.jpg" alt="" class="menu-item-image">

                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Chicken Burger</span>
                        <span class="menu-item-name">$10.99</span>
                    </h3>
                    <p class="menu-item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae consequuntur officia earum dignissimos. Ipsa ea dolor ut amet ex sequi magni, doloremque incidunt quam neque cumque eaque nam delectus eius.</p>
                    <a href="#"><button>Add To Cart</button></a>
                </div>
                
            </div>

            <div class="menu-item">
                <img src="/static/images/sites/fast_food/burger4.jpg" alt="" class="menu-item-image">

                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Fish Burger</span>
                        <span class="menu-item-name">$8.99</span>
                    </h3>
                    <p class="menu-item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae consequuntur officia earum dignissimos. Ipsa ea dolor ut amet ex sequi magni, doloremque incidunt quam neque cumque eaque nam delectus eius.</p>
                    <a href="#"><button>Add To Cart</button></a>
                </div>
                
            </div>

        </div>



    </div>




    <div class="menu">

        <h2 class="menu-group-heading">
            Pizzas
        </h2>

        <div class="menu-group">

            <div class="menu-item">
                <img src="/static/images/sites/fast_food/pizza1.jpg" alt="" class="menu-item-image">

                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Cheese Pizza</span>
                        <span class="menu-item-name">$7.20</span>
                    </h3>
                    <p class="menu-item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae consequuntur officia earum dignissimos. Ipsa ea dolor ut amet ex sequi magni, doloremque incidunt quam neque cumque eaque nam delectus eius.</p>
                    <a href="#"><button>Add To Cart</button></a>
                </div>
                
            </div>

            <div class="menu-item">
                <img src="/static/images/sites/fast_food/pizza2.jpg" alt="" class="menu-item-image">

                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Pepperoni Pizza</span>
                        <span class="menu-item-name">$7.20</span>
                    </h3>
                    <p class="menu-item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae consequuntur officia earum dignissimos. Ipsa ea dolor ut amet ex sequi magni, doloremque incidunt quam neque cumque eaque nam delectus eius.</p>
                    <a href="#"><button>Add To Cart</button></a>
                </div>
                
            </div>

            <div class="menu-item">
                <img src="/static/images/sites/fast_food/pizza3.jpg" alt="" class="menu-item-image">

                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Italian Sausage Pizza</span>
                        <span class="menu-item-name">$7.20</span>
                    </h3>
                    <p class="menu-item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae consequuntur officia earum dignissimos. Ipsa ea dolor ut amet ex sequi magni, doloremque incidunt quam neque cumque eaque nam delectus eius.</p>
                    <a href="#"><button>Add To Cart</button></a>
                </div>
                
            </div>

            <div class="menu-item">
                <img src="/static/images/sites/fast_food/pizza4.jpg" alt="" class="menu-item-image">

                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Pinapple & Ham Pizza</span>
                        <span class="menu-item-name">$7.20</span>
                    </h3>
                    <p class="menu-item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae consequuntur officia earum dignissimos. Ipsa ea dolor ut amet ex sequi magni, doloremque incidunt quam neque cumque eaque nam delectus eius.</p>
                    <a href="#"><button>Add To Cart</button></a>
                </div>
                
            </div>

        </div>



    </div>



    <div class="menu">

        <h2 class="menu-group-heading">
            Dessert
        </h2>

        <div class="menu-group">

            <div class="menu-item">
                <img src="/static/images/sites/fast_food/dessert1.jpg" alt="" class="menu-item-image">

                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Chocolate Birthday Cake</span>
                        <span class="menu-item-name">$4.99</span>
                    </h3>
                    <p class="menu-item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae consequuntur officia earum dignissimos. Ipsa ea dolor ut amet ex sequi magni, doloremque incidunt quam neque cumque eaque nam delectus eius.</p>
                    <a href="#"><button>Add To Cart</button></a>
                </div>
                
            </div>

            <div class="menu-item">
                <img src="/static/images/sites/fast_food/dessert2.jpg" alt="" class="menu-item-image">

                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Double Chocolate Cookies</span>
                        <span class="menu-item-name">$1.99 ea</span>
                    </h3>
                    <p class="menu-item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae consequuntur officia earum dignissimos. Ipsa ea dolor ut amet ex sequi magni, doloremque incidunt quam neque cumque eaque nam delectus eius.</p>
                    <a href="#"><button>Add To Cart</button></a>
                </div>
                
            </div>

            <div class="menu-item">
                <img src="/static/images/sites/fast_food/dessert3.jpg" alt="" class="menu-item-image">

                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Cheese Cake Slice</span>
                        <span class="menu-item-name">$2.99 ea</span>
                    </h3>
                    <p class="menu-item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae consequuntur officia earum dignissimos. Ipsa ea dolor ut amet ex sequi magni, doloremque incidunt quam neque cumque eaque nam delectus eius.</p>
                    <a href="#"><button>Add To Cart</button></a>
                </div>
                
            </div>

            <div class="menu-item">
                <img src="/static/images/sites/fast_food/dessert4.jpg" alt="" class="menu-item-image">

                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Oreo MilkShake</span>
                        <span class="menu-item-name">$4.99</span>
                    </h3>
                    <p class="menu-item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae consequuntur officia earum dignissimos. Ipsa ea dolor ut amet ex sequi magni, doloremque incidunt quam neque cumque eaque nam delectus eius.</p>
                    <a href="#"><button>Add To Cart</button></a>
                </div>
                
            </div>

        </div>



    </div>
</div>