
{% block company_info %}


<div class="we-are-company">
    <img src="/static/images/sites/fast_food/transparent-burger.png" alt="">

    <div class="company-info">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque et voluptas quod quaerat, quisquam fugit eveniet odit vel, accusamus debitis praesentium assumenda ex? Officia aliquid ducimus natus alias, distinctio ipsa.</p>
        <a href="#"><button>Learn More</button></a>
    </div>
</div>

<br><br>


<div class="we_are_company_info">

    <div class="company-info">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque et voluptas quod quaerat, quisquam fugit eveniet odit vel, accusamus debitis praesentium assumenda ex? Officia aliquid ducimus natus alias, distinctio ipsa.</p>
        <a href="#"><button>Learn More</button></a>
    </div>

    <img src="/static/images/sites/fast_food/transparent-burger.png" alt="">
</div>


{% endblock company_info %}
