<div class="main-footer-container">

    <div class="footer-things">

        <div class="box">
            <i class="fa-regular fa-map"></i>
            <h5>Address</h5>
            <div class="line"></div>
            <h4>12345 Skinwalker Ranch, Bellingham WA</h4>
        </div>

        <div class="box">
            <i class="fa-solid fa-envelope"></i>
            <h5>Email</h5>
            <div class="line"></div>
            <h4><a href="mailto:cejvanniekirk098@gamil.com">cejvanniekirk098@gmail.com</a></h4>
        </div>

        <div class="box">
            <i class="fa-solid fa-mobile-screen"></i>
            <h5>Phone</h5>
            <div class="line"></div>
            <h4>+1 (725) 726 0877</h4>
        </div>

    </div>


    <div class="social-links">
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <p>Copyright AvrlineTech 2023 - 2023 </p>

</div>