{% extends 'photography/second_base.html' %}



{% block title2 %}
    <title>Explore Washington - Portfolio</title>
{% endblock title2 %}




{% block content2 %}

<br><br><br><br>

<div class="image-gallery">

  <div class="image">
    <img src="/static/images/photography/image_example_one.jpg" alt="">
  </div>

  <div class="image">
    <img src="/static/images/photography/image_example_two.jpg" alt="">
  </div>

  <div class="image">
    <img src="/static/images/photography/image_example_three.jpg" alt="">
  </div>

  <div class="image">
    <img src="/static/images/photography/image_example_four.jpg.png" alt="">
  </div>

  <div class="image">
    <img src="/static/images/photography/image_example_five.png" alt="">
  </div>

  <div class="image">
    <img src="/static/images/photography/image_example_seven.jpg.png" alt="">
  </div>

  <div class="image">
    <img src="/static/images/photography/image_example_eleven.png" alt="">
  </div>

  <div class="image">
    <img src="/static/images/photography/image_example_ten.png" alt="">
  </div>

  <div class="image">
    <img src="/static/images/photography/image_example_12.png" alt="">
  </div>

</div>

{% endblock content2 %}