<div class="contact_us">
    <h5>Contact Us</h5>

    <!-- Below you can change the 'Reach out and say hello' but we recommand 
        you keep it or replace it with something similar -->

    <!-- Change Here -->
    <h1>Reach out and say hello</h1>
    <!-- Change Here -->

    <div class="contact" id="contact-us">

        <div class="message-form" id="message-form-container">
            <form action="" id="message-form">
                <h5>SEND US A MESSAGE</h5>

                <input type="text" value id="name" id="name" placeholder="Name">
                <input type="text" id="email" name="email" required value placeholder="Email">
                <input type="text" id="subject" name="subject" placeholder="Subject" required value>
                <textarea name="message" id="message" cols="30" rows="10" placeholder="Message" required></textarea>
                <input type="submit" value="Submit" id="submit" name="submit">
            </form>
        </div>


        <div class="thank-you-form" id="thank-you-form">
            <h5>Thank You!</h5>
            <!-- Change here, if you want but we recommand you keep it the same -->
            <p>We appreciate you contacting us and will be in contact with 24 hours</p>
            <i class="fa-solid fa-check"></i>
        </div>

        <div class="contact-form">
            <h5>CONTACT INFO</h5>

            <h4>Where to find us</h4>

            <!-- Add Your Business Address Below -->
            <p>400 Broad St, Seattle, WA 98109</p>


            <h4>Email Us At</h4>
            <!-- Add your emails below, remove one if need be -->
            <p>cejvanniekirk098@gmail.com</p>
            <p>avrlinetech@support.com</p>

            <h4>Call Us At</h4>
            <!-- Add your phone -->
            <p>Phone: 1+ (000) 000-0000</p>
            <p>Phone: 1+ (000) 000-0000</p>

            <div class="socal-links">
                
                <!-- To replace the social media icons please see 'jumbotron.html' for other icons -->
                <!-- and be sure to replace the # with the direct URLs of your social media links -->
                
                <a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-behance"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-pinterest"></i></a>

                <!-- we also highly recommand you keep the same five social media icons and not go over 5 -->
            </div>
        </div>

    </div>
</div>

<script src="/static/js/growth/contact_transfer.js"></script>