<div class="customer_reviews_container">

    <h5>What are others saying?</h5>

    <div class="review-container">

        <div class="review">

            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            
            <p>Great and wonderful place, would like to visit there again</p>
            <h5>John Doe</h5>
        </div>


        <div class="review">

            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            
            <p>Great and wonderful place, would like to visit there again</p>
            <h5>John Doe</h5>
        </div>


        <div class="review">

            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            
            <p>Great and wonderful place, would like to visit there again</p>
            <h5>John Doe</h5>
        </div>


        <div class="review">

            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            
            <p>Great and wonderful place, would like to visit there again</p>
            <h5>John Doe</h5>
        </div>



    </div>




    <div class="view-all">
        <a href="#"><h1>View All</h1></a>
    </div>


</div>

<script src="https://kit.fontawesome.com/89bc05284d.js" crossorigin="anonymous"></script>