<!-- Please carefully follow the instructions provided in the comments below to make the necessary changes. -->


<div class="google_maps_embed">

    <div class="embedd_words">
        <h5 id="h5_header">Visit Us</h5>

        <!-- Below you will change whats inside the <h1></h1> tags, we recommand you just change the city and state -->
        <!-- Change Here -->
        <h1 id="h1_header">We are located in Seattle Washington</h1>
        <!-- Change Here -->

        <!-- Below you will change what's inside the <p></p> tags to a paragraph of your choosing.
                We recommand that it stays in the character limit of 120 -->
        <!-- Change Here -->
        <p id="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, sit ut sequi sapiente quam nam obcaecati magni! Sit.</p>
        <!-- Change Here -->
    </div>

    <div class="iframe">

        <!-- Change Here -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43027.9963121222!2d-122.37433679111348!3d47.62127591217911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490151f4ed5b7f9%3A0xdb2ba8689ed0920d!2sSpace%20Needle!5e0!3m2!1sen!2sus!4v1681322012261!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <!-- Change Here -->

        <!-- 

        Above is a change you will need to make, it is a bit more complex but the guide will help you

        1. Go to https://www.google.com/maps and type in the address of your business
        2. After that click on the hamburger menu to the top left of your screen
        3. Go down to where it says 'Share or Embed Map' once clicked a popup will happen
        4. Click over to 'Embed a map' then copy the HTML code they provide. 
        5. Paste it in between the Change Here for the iframe
        6. Be sure that the embed link has a width="600" height="450" 

        -->

    </div>

</div>

<!-- After you have completed the file you can exit -->


<script src="/static/js/growth/google_maps_animations.js"></script>