<!-- Please edit the designated areas below according to the comments. It is important to carefully follow the 
instructions in the comments to make the necessary changes -->

<div class="our-products">

    <h5 id="h5-header">View Our Products</h5>
    <!-- Below you can change the header for the products area -->

    <!-- Change Here -->
    <h1 id="h1-header">Our assortment of products is both reasonably priced and exceptional in quality.</h1>
    <!-- Change Here -->

    <div class="products" id="products">

        <!-- Below there are six product images, titles and a brief description containing to the product, go through
        the areas marked with 'Change here' comments and change all the necessary areas -->


        <!-- Changing Product One Details -->
        <div class="item">
            <!-- Change Product Title -->
            <h5>Indicas</h5>
            <!-- Change Product Title -->

            <!-- Below change the image name to the image of your personal needs, we strongly recommand you use an imag
            with the dimensions of 808x600 for all your product images.  -->
            
            <!-- Change image name, be sure image is in images directory, do not forget the file extension -->
            <a href="#"><img src="/static/images/sites/growth/indica1.png" alt="" width="250" height="150"></a>
            <!-- Change image name, be sure image is in images directory, do not forget the file extension -->

            <!-- Change Brief Product Description -->
            <!-- we recommand you keep it short and in the same character limit as the demo -->
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolorum culpa.</small>
            <!-- Change Brief Product Description -->

            <!-- 
            Once you have added your own categories, replace the category in search_term=' ' with your own category
            NOTE: be sure that the name here and the name of your category is spelled the exact same way, 
            Uppercase and all 
            -->
            <a href="{{ url_for('view_all', page_num=1, search_term='Indicas') }}"><button>Shop Now</button></a>
        </div>


        








        

        <!-- Changing Product Two Details -->
        <div class="item">
            <!-- Change Product Title -->
            <h5>Sativa</h5>
            <!-- Change Product Title -->

            <!-- Below change the image name to the image of your personal needs, we strongly recommand you use an imag
            with the dimensions of 808x600 for all your product images.  -->
            
            <!-- Change image name, be sure image is in images directory, do not forget the file extension -->
            <a href="#"><img src="/static/images/sites/growth/sativa.png" alt="" width="250" height="150"></a>
            <!-- Change image name, be sure image is in images directory, do not forget the file extension -->

            <!-- Change Brief Product Description -->
            <!-- we recommand you keep it short and in the same character limit as the demo -->
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolorum culpa.</small>
            <!-- Change Brief Product Description -->

            <!-- 
            Once you have added your own categories, replace the category in search_term=' ' with your own category
            NOTE: be sure that the name here and the name of your category is spelled the exact same way, 
            Uppercase and all 
            -->
            <a href="{{ url_for('view_all', page_num=1, search_term='Sativas') }}"><button>Shop Now</button></a>
        </div>












        <!-- Changing Product Three Details -->
        <div class="item">
            <!-- Change Product Title -->
            <h5>Hybrid</h5>
            <!-- Change Product Title -->

            <!-- Below change the image name to the image of your personal needs, we strongly recommand you use an imag
                with the dimensions of 808x600 for all your product images.  -->

            <!-- Change image name, be sure image is in images directory, do not forget the file extension -->
            <a href="#"><img src="/static/images/sites/growth/hy.png" alt="" width="250" height="150"></a>
            <!-- Change image name, be sure image is in images directory, do not forget the file extension -->

            <!-- Change Brief Product Description -->
            <!-- we recommand you keep it short and in the same character limit as the demo -->
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolorum culpa.</small>
            <!-- Change Brief Product Description -->

            <!-- 
            Once you have added your own categories, replace the category in search_term=' ' with your own category
            NOTE: be sure that the name here and the name of your category is spelled the exact same way, 
            Uppercase and all 
            -->
            <a href="{{ url_for('view_all', page_num=1, search_term='Hybrid') }}"><button>Shop Now</button></a>
        </div>












        <!-- Changing Product Four Details -->
        <div class="item">
            <!-- Change Product Title -->
            <h5>Pre-Rolls</h5>
            <!-- Change Product Title -->

            <!-- Below change the image name to the image of your personal needs, we strongly recommand you use an imag
                with the dimensions of 808x600 for all your product images.  -->

            <!-- Change image name, be sure image is in images directory, do not forget the file extension -->
            <a href="#"><img src="/static/images/sites/growth/pre-rolls.jpg" alt="" width="250" height="150"></a>
            <!-- Change image name, be sure image is in images directory, do not forget the file extension -->

            <!-- Change Brief Product Description -->
            <!-- we recommand you keep it short and in the same character limit as the demo -->
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolorum culpa.</small>
            <!-- Change Brief Product Description -->

            <!-- 
            Once you have added your own categories, replace the category in search_term=' ' with your own category
            NOTE: be sure that the name here and the name of your category is spelled the exact same way, 
            Uppercase and all 
            -->
            <a href="{{ url_for('view_all', page_num=1, search_term='Pre-Roll') }}"><button>Shop Now</button></a>
        </div>











        <!-- Changing Product Five Details -->
        <div class="item">
            <!-- Change Product Title -->
            <h5>Accessories</h5>
            <!-- Change Product Title -->

            <!-- Below change the image name to the image of your personal needs, we strongly recommand you use an imag
                with the dimensions of 808x600 for all your product images.  -->

            <!-- Change image name, be sure image is in images directory, do not forget the file extension -->
            <a href="#"><img src="/static/images/sites/growth/acc.png" alt="" width="250" height="150"></a>
            <!-- Change image name, be sure image is in images directory, do not forget the file extension -->

            <!-- Change Brief Product Description -->
            <!-- we recommand you keep it short and in the same character limit as the demo -->
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolorum culpa.</small>
            <!-- Change Brief Product Description -->

            <!-- 
            Once you have added your own categories, replace the category in search_term=' ' with your own category
            NOTE: be sure that the name here and the name of your category is spelled the exact same way, 
            Uppercase and all 
            -->
            <a href="{{ url_for('view_all', page_num=1, search_term='Accessories') }}"><button>Shop Now</button></a>
        </div>










        <!-- Changing Product Six Details -->
        <div class="item">
            <!-- Change Product Title -->
            <h5>VIP</h5>
            <!-- Change Product Title -->

            <!-- Below change the image name to the image of your personal needs, we strongly recommand you use an imag
                with the dimensions of 808x600 for all your product images.  -->

            <!-- Change image name, be sure image is in images directory, do not forget the file extension -->
            <a href="#"><img src="/static/images/sites/growth/vip.jpg" alt="" width="250" height="150"></a>
            <!-- Change image name, be sure image is in images directory, do not forget the file extension -->

            <!-- Change Brief Product Description -->
            <!-- we recommand you keep it short and in the same character limit as the demo -->
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolorum culpa.</small>
            <!-- Change Brief Product Description -->

            <!-- 
            Once you have added your own categories, replace the category in search_term=' ' with your own category
            NOTE: be sure that the name here and the name of your category is spelled the exact same way, 
            Uppercase and all 
            -->
            <a href="{{ url_for('view_all', page_num=1, search_term='VIP') }}"><button>Shop Now</button></a>
        </div>




    </div>

    <a href="{{ url_for('view_all', page_num=1) }}" id="product-view-all">View All</a>
</div>

<script src="/static/js/growth/css_animations.js"></script>
<script src="/static/js/growth/product_section.js"></script>