<!-- Please change all of the fields to your personal or business needs -->

<div class="under-jumbro-container" id="scroll-to-about">

    <div class="items" id="under-jumbo-items">
        <h5>HELLO THERE</h5>
        <!-- Below you can change the company name for your personal name. We recommend that you use the same character size -->
        <h1>We Are Growth</h1>

        <div class="para">
            <!-- Below change paragraph inside the <p> HERE... </p> tags, we recommend the same character limit of 420 characters -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
        </div>
    </div>


    <div class="bottom-stuff" id="bottom">

        <div class="counter-box">
            <h1 id="counter">0</h1><!-- DO NOT CHANGE -->

            <!-- Change item inside of <h5> HERE... </h5> tags -->
            <h5>Awards Received</h5>
        </div>

        <div class="counter-box">
            <h1 id="counter2">0</h1> <!-- DO NOT CHANGE -->

            <!-- Change item inside of <h5> HERE... </h5> tags -->
            <h5>Cups of Coffee</h5>
        </div>

        <div class="counter-box">
            <h1 id="counter3">0</h1> <!-- DO NOT CHANGE -->

            <!-- Change item inside of <h5> HERE... </h5> tags -->
            <h5>Projects Completed</h5>
        </div>

        <div class="counter-box">
            <h1 id="counter4">0</h1> <!-- DO NOT CHANGE -->

            <!-- Change item inside of <h5> HERE... </h5> tags -->
            <h5>Stores Opened</h5>
        </div>

    </div>
</div>

<script src="/static/js/growth/countUp.js"></script>
<script src="/static/js/growth/under_jumbo_animations.js"></script>