{% block adTWO %}

<link rel="stylesheet" href="/static/css/starbucks/ad_2.css">



<div class="ad2">

    <div class="ad-image">
        <img src="/static/images/ad2_background.jpg" alt="">
    </div>


    <div class="ad-stuff-container">
        <div class="ad-stuff">
            <h1>Day boosters</h1>
            <p>Recharge with bold and lively Iced Shaken Espresso or Iced Brown Sugar Oatmilk Shaken Espresso.</p>
            <button>Order now</button>
        </div>


        <div class="coffee-image">
            <img src="/static/images/coffee.png" alt="" height="400" width="400">
        </div>
    </div>


</div>
{% endblock adTWO %}