{% block adTHREE %}
<link rel="stylesheet" href="/static/css/starbucks/ad_3.css">

<div class="ad_three">

    <div class="left-side-ad">

        <div class="ad-image3">
            <img src="/static/images/sandwich-background.png" alt="" width="700" height="600">
        </div>

        <div class="ad_showcase">
            <img src="/static/images/secondwww.png" alt="">
        </div>

    </div>


    <div class="right-right-ad">
        <div class="right-side-ad-stuff">
            <h1>Daybreak</h1>
            <h1>delicious</h1>

            <p>Make a warm and toasty choice with our wonderfully filling Bacon, Gouda & Egg Sandwich.</p>

            <button>Order now</button>
        </div>

    </div>

</div>
{% endblock adTHREE %}