{% block first_footer %}
<link rel="stylesheet" href="/static/css/starbucks/first_footer.css">




<div class="main-first-footer">

    <div class="thing">
        <h4>About Us</h4>
        <p><a href="#">Our Compnay</a></p>
        <p><a href="#">Our Coffee</a></p>
        <p><a href="#">Stories and News</a></p>
        <p><a href="#">Starbucks Archive</a></p>
        <p><a href="#">Investor Relations</a></p>
        <p><a href="#">Customer Service</a></p>
    </div>


    <div class="thing">
        <h4>Careers</h4>
        <p><a href="#">Culture and Values</a></p>
        <p><a href="#">Inclusion, Diveristy, and Equity</a></p>
        <p><a href="#">College Achievement Plan</a></p>
        <p><a href="#">Alumni Community</a></p>
        <p><a href="#">U.S. Careers</a></p>
        <p><a href="#">International Careers</a></p>
    </div>


    <div class="thing">
        <h4>Social Impact</h4>
        <p><a href="#">People</a></p>
        <p><a href="#">Planet</a></p>
        <p><a href="#">Environmental and Social Impact Reporting</a></p>
    </div>


    <div class="thing">
        <h4>Four Business Partners</h4>
        <p><a href="#">Landload Support Center</a></p>
        <p><a href="#">Suppliers</a></p>
        <p><a href="#">Corporate Gift Card Sales</a></p>
        <p><a href="#">Office and Foodservice Coffee</a></p>
    </div>


    <div class="thing">
        <h4>Order and Pickup</h4>
        <p><a href="#">Order on the App</a></p>
        <p><a href="#">Order on the Web</a></p>
        <p><a href="#">Deliver</a></p>
        <p><a href="#">Order and Pickup Options</a></p>
        <p><a href="#">Explore and Find Coffee for Home</a></p>
    </div>

</div>

<hr>



{% endblock first_footer %}