{% block main_footer %}

<link rel="stylesheet" href="/static/css/starbucks/footer.css">



<div class="main_footer">

    <div class="first_footer_items">
        <a href="#" target="_blank"><i class="fa fa-spotify"></i></a>
        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
        <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>

    <div class="second_footer_items">
        <h5><a href="#">Privacy Notice</a></h5>
        <h4>|</h4>
        <h5><a href="#">Terms of Use</a></h5>
        <h4>|</h4>
        <h5><a href="#">Do Not Share My Personal Information</a></h5>
        <h4>|</h4>
        <h5><a href="#">CA Supply Chain Act</a></h5>
        <h4>|</h4>
        <h5><a href="#">Cookie Preferences</a></h5> 
    </div>

    <div class="third_footer_items">
        <p>© 2023 Starbucks Coffee Company. All rights reserved.</p>

    </div>

</div>


{% endblock main_footer %}