{% block adFOUR %}
<link rel="stylesheet" href="/static/css/starbucks/last_ad.css">


<div class="last_ad">

    <div class="left_side">
        <div class="last_side_stuffs">
            <h1>Your favories, delivered</h1>
            <p>Make any day a great when you get Starbucks®</p>
            <p>delivery with <a href="#">DoorDash</a>and <a href="#">Uber Eats.</a></p>
            <button>Get started</button>
        </div>
    </div>  
    
    
    <div class="right_side">
        <img src="/static/images/last_image.png" alt="" width="700">
    </div>

</div>



{% endblock adFOUR %}