<h1>hanajn</h1>
<div class="ad_3">

    <div class="left-side-ad">

        <div class="ad-image3">
            <img src="/static/images/sandwich-background.png" alt="">
        </div>

        <div class="ad-showcase">
            <img src="/static/images/breakfast-sandwich.png" alt="">
        </div>

    </div>


    <div class="right-right-ad">
        <div class="right-side-ad-stuff">
            <h1>Daybreak</h1>
            <h1>delicious</h1>

            <p>Make a warm and toasty choice with our wonderfully filling Bacon, Gouda & Egg Sandwich.</p>

            <button>Order now</button>
        </div>

    </div>

</div>
