
{% block footer %}

<div class="main-footer-container">

    <div class="footer_header">
        <h5>GET TO KNOW US</h5>
    </div>

    <div class="side_for_flex">

        <div class="first_side">

            <div class="first_list">
                <a href="#">View National Menu</a>
                <a href="#">Gift Cards</a>
                <a href="#">Download the App</a>
                <a href="#">About Us</a>
                <a href="#">History</a>
                <a href="#">News</a>
                <a href="#">Contact</a>
            </div>

            <div class="first_list">
                <a href="#">Nutrition</a>
                <a href="#">Well-Being</a>
                <a href="#">Our Planet</a>
                <a href="#">Communities</a>
                <a href="#">Sustainability</a>
                <a href="#">Careers</a>
            </div>

        </div>

        <div class="second_side">
            <a href="#">Franchise With Subway</a>
            <a href="#">Subway Cares Foundation</a>
            <a href="#">Parteners:The Feed</a>
            <select>
                <option value="">US English</option>
                <option value="option1">CA English</option>
                <option value="option2">US Espanol</option>
                <option value="option3">RA Russian</option>
            </select>
            

        </div>

    </div>


<div class="social-links">

    <div class="links">
        <a href="#">Privacy</a> |
        <a href="#">Terms of Use</a> |
        <a href="#">Accessibility</a> |
        <a href="#">Cookie & Ad Settings</a> |
        <a href="#">California Privacy Notice</a> |
        <a href="#">Do Not Sell or Share My Personal Information</a> |
        <a href="#">FAQs</a> |
        <a href="#">Unsubscribe</a>
        </div>


        <div class="social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>

    </div>


    <div class="social-links-smaller">


        <div class="social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>

        <div class="links">
            <a href="#">Privacy</a>
            <a href="#">Terms of Use</a>
            <a href="#">Accessibility</a>
            <a href="#">Cookie & Ad Settings</a>
            <a href="#">California Privacy Notice</a>
            <a href="#">Do Not Sell or Share My Personal Information</a>
            <a href="#">FAQs</a>
            <a href="#">Unsubscribe</a>
        </div>
    
    </div>

</div>


    <p id="last-paragraph">Demo Website Produced by AvrlineTech® subsidiary of VCF Holdings Inc.</p>

</div>



{% endblock footer %}