<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock title%}
    <link rel="stylesheet" href="/static/css/fast_food/main.css">
    <link rel="icon" type="image/x-icon" href="/static/images/lighModeV.ico">
</head>
<body>
    {% block navbar %}
        {% include 'fast_food/navbar.html' %}
    {% endblock navbar %}




    {% block content %}

    {% endblock content %}





    {% block footer %}
        {% include 'fast_food/footer.html' %}
    {% endblock footer %}


    <script src="https://kit.fontawesome.com/89bc05284d.js" crossorigin="anonymous"></script>
    <script src="/static/js/fast_food/js.js"></script>
</body>
</html>