<!-- This is index -->


{% extends 'fast_food/base.html' %}


{% block title %}
    <title>Feane - Home Page</title>
{% endblock title %}



{% block content %}

<div class="jumbotron-image">

    <div class="jumbo-div" id="jumboID">
        <h1>Fast Food Restaurant</h1>
        <p>Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad mollitia laborum quam quisquam esse error unde. Tempora ex doloremque, labore, sunt repellat dolore, iste magni quos nihil ducimus libero ipsam.</p>
        <a href="#"><button>Order Now</button></a>
    </div>

</div>


<br><br><br>
{% include 'fast_food/index_things/justUnderJumboTron.html' %}


<br><br><br>
{% include 'fast_food/index_things/main_menu.html' %}


<br><br><br><br>
{% block company_info %}
    {% include 'fast_food/index_things/weAreCompany.html' %}
{% endblock company_info %}



<br><br><br><br>
{% include 'fast_food/index_things/book_a_table.html' %}


<br><br><br><br>

{% endblock content %}