{% block footer %}

<div class="footer">

    <div class="three-divs-flex">

        <div class="footer1">
            <h1>Contact Us</h1>

            <div class="location">
                <i class="fa-solid fa-location-dot"></i>
                <a href="#">Location</a>
            </div>

            <div class="phone">
                <i class="fa-solid fa-phone"></i>
                <a href="#">Call +1 1234567890</a>
            </div>

            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <a href="#">demo@gmail.com</a>
            </div>

        </div>


        <div class="footer2">
            <h1>Feane</h1>
            <p>Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with</p>

            <div class="social-media-links">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-pinterest"></i>
            </div>
        </div>


        <div class="footer3">
            <h1>Opening Hours</h1>

            <p>Everyday</p>

            <p>10:00 AM - 10:00 PM</p>
        </div>

    </div>

    <p class="p">© 2023 All Rights Reserved By VCF Holdings Inc.</p>
    <p class="p">© Distributed by AvrlineTech</p>

</div>


{% endblock footer %}