{% block footer %}

<!-- Please edit the designated areas below according to the comments. It is important to carefully follow the 
instructions in the comments to make the necessary changes -->

<div class="main-footer-container">

    <div class="stuff-inside-footer">

        <div class="container-one">
            <!-- Below change the company name -->

            <!-- Change Here -->
            <h5>Growth<span>.</span></h5>
            <!-- Change Here -->


            <!-- Below change the paragraph -->

            <!-- Change Here -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error reiciendis facilis necessitatibus libero facere deserunt at fugiat illum sit odio hic dolore excepturi suscipit, cum quos, aliquam quasi maxime quidem?</p>
            <!-- Change Here -->
        </div>

        <div class="container-two">
            <h5>Get Notified</h5>

            <!-- Below change the paragraph -->

            <!-- Change Here -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum porro aut quisquam ratione commodi tenetur.</p>
            <!-- Change Here -->

            <div class="input" id="email-sub-form">
                <form action="" id="footer-form">
                    <input type="email" name="email" id="email2" placeholder="&#x2709; Email Address:">
                    <input type="submit" id="button" value="SUBSCRIBE">
                </form>
            </div>


            <div class="after-input" id="thank-you-sub-form">
                <h5>Thank you for subscribing!</h5>
            </div>
        </div>

    </div>

    <!-- Below change the company name, and copyright infomation -->
    <p>© Copyright Growth 2022 | Site Template by <a href="#">AvrlineTech</a></p>
</div>

<script src="/static/js/growth/footer_backend.js"></script>

{% endblock footer %}