{% extends 'growth/base.html' %}


<!-- Below please change the title of home page to your person needs -->
{% block title %}
    <!-- Change 'Growth' -->
    <title>Growth</title>
    <!-- Change 'Growth' -->
{% endblock title %}



{% block content %}


{% include 'growth/index_things/jumbotron.html' %}


{% include 'growth/index_things/under_jumbotron.html' %}


{% include 'growth/index_things/our_products.html' %}


{% include 'growth/index_things/google_maps.html' %}


{% include 'growth/index_things/customer_reviews.html' %}


{% include 'growth/index_things/contact_us.html' %}





{% endblock content %}