{% extends "base.html" %}

{% block title %}
    <title>CEJ Portfolio | About</title>
{% endblock title %}

{% block content %}

<link rel="stylesheet" href="/static/css/about1.css">
<br><br><br><br><br><br>

<div class="about-div">

    <div class="about-box1">
        <h1>Hi, im Christopher</h1>
        <hr>
        <p>As a motivated and dedicated developer, I am constantly seeking opportunities to 
            enhance my skills and knowledge. My expertise includes Python, HTML, CSS, SqLite, 
            MySQL, JavaScript, Flask, Django, and OpenAPI. I am actively working on expanding 
            my skillset and adding new projects to my portfolio, with a focus on Python and 
            front-end/back-end development. I am committed to continually improving my capabilities 
            as a developer and delivering high-quality solutions for my clients.</p>
    </div>

    <div class="about-box2">
        <img src="/static/images/IMG_E3263.JPG" alt="">

    </div>
</div>


<br>
{% endblock %}