{% extends "base.html" %}



{% block content %}

<link rel="stylesheet" href="/static/css/about1.css">
<br><br><br><br><br><br>

<div class="about-div">

    <div class="about-box1">
        <h1>Hi, im Christopher</h1>
        <hr>
        <p>Hey, My name is Christopher and I am an inspiring developer who always looking to improve my skills. I am learning Python, it's toolkit Tkinter. I have skills in (Python, HTML, CSS, SqLite, MySQL, JS, Flask) I am currently working on adding projects and expending my skills with Python and front end development.</p>
    </div>

    <div class="about-box2">
        <img src="/static/images/IMG_E3263.JPG" alt="">

    </div>
</div>


<br>
{% endblock %}