{% extends "base.html" %}

{% block title %}
    <title>CEJ Portfolio | Archive Site</title>
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="/static/css/archive_site.css">
<link rel="stylesheet" href="/static/css/web_design_mobile.css">
<link rel="stylesheet" href="/static/css/showcase_skills.css">

<br><br><br><br><br><br><br><br>
 <!-- Slideshow container -->

<div style="width: 85%; margin: auto;">

 <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="127000">
      <ol class="carousel-indicators my-4">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>

      </ol>
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img src="/static/images/archive_site/archive-site1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block bg-dark mb-4">
            <h5>Home Page</h5>
            <p>The user can search, log in, and see the other options on the home page</p>
          </div>
        </div>

        <div class="carousel-item">
          <img src="/static/images/archive_site/archive-site2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block bg-dark mb-4">
            <h5>Home Page</h5>
            <p>On the same homepage the user has options between searching for photos, documents or names</p>
          </div>
        </div>

        <div class="carousel-item">
          <img src="/static/images/archive_site/archive-site3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block bg-dark mb-4">
            <h5>User Log In</h5>
            <p>The user has the option for logging in, but has to be verified as a family member by admin before</p>
          </div>
        </div>

        <div class="carousel-item">
            <img src="/static/images/archive_site/archive-site4.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block bg-dark mb-4">
              <h5>User Sign Up</h5>
              <p>Signing up is another option for the user where they give their information and can be a member once approved by admin.</p>
            </div>
          </div>

          <div class="carousel-item">
            <img src="/static/images/archive_site/archive-site5.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block bg-dark mb-4">
              <h5>Search Documents</h5>
              <p>Once logged in and approved the user has the option to search documents that is saved on a database</p>
            </div>
          </div>


          <div class="carousel-item">
            <img src="/static/images/archive_site/archive-site6.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block bg-dark mb-4">
              <h5>Name Search</h5>
              <p>The user can also search through names</p>
            </div>
          </div>


          <div class="carousel-item">
            <img src="/static/images/archive_site/archive-site7.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block bg-dark mb-4">
              <h5>Admin Area</h5>
              <p>The admin of the site has special access to this part of the site where they can approve users and add data</p>
            </div>
          </div>

      </div>


      

      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only" style="color: black; font-weight: bolder;">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only" style="color: black; font-weight: bolder;">Next</span>
      </a>
    </div>
  </div>
</div>


<br><br>

<div class="about-this-site">
    <h1>About This Site</h1>
    <hr>

    <p>This was my first ever attempt at building a website using Pythons framework Flask. It is a simple layout using HTML/CSS but there is a lot of 
        functionality behind it. It is running several MySQL databases storing user login information, admin login information, family members information, 
        information on the images and documents databases where signed in and approved users can search through the stored items. There is also a function where
        a new user signing up has to be approved by admin on site before being able to log in and is sent an custom email right after signing up letting the 
        user know they are waiting for approval. And will be sent another custom email for both outcomes.</p>

</div>

<br>
<br> <br>


<div class="showcase-skills">
  <h3>What skills does this project showcase?</h3>
  <ul>
    <li><strong>Web Development:</strong> The use of Flask framework and HTML/CSS for building a web application demonstrates my understanding of web development principles and technologies.</li>
    <li><strong>Database Management:</strong> Incorporating multiple databases for storing user and admin information, images, and documents showcases my knowledge of database management and SQL.</li>
    <li><strong>User Authentication:</strong> Implementing a login system and approving new users through an admin account demonstrates my knowledge of user authentication and authorization.</li>
    <li><strong>Email Notifications:</strong> Sending custom email notifications to users shows my understanding of integrating external services my your web application.</li>
  </ul>
</div>

<div class="see-code">
  <a href="https://github.com/Christopher1994-1/3d_smokeshop_website/blob/main/smokeshop/smokeshop_site/views.py" target="_blank"><h1>See The Code</h1></a>
  </div>

<br>


<script src="/static/js/main_js.js"></script>
<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Bootstrap JavaScript file -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script>
$(document).ready(function(){
  // Initialize the carousel
  $('#carouselExampleCaptions').carousel();
});
</script>


{% endblock %}