{% extends "base.html" %}

{% block title %}
    <title>CEJ Portfolio | UFO Dataset Site</title>
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="/static/css/archive_site.css">
<link rel="stylesheet" href="/static/css/web_design_mobile.css">
<link rel="stylesheet" href="/static/css/showcase_skills.css">


<br><br><br><br><br><br><br><br>
 <!-- Slideshow container -->

 <div class="video-container" style="width: fit-content; margin: auto; text-align: center; box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);">
 <iframe
 width="660" height="415" src="https://www.youtube.com/embed/12cnkMLa3wY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<br><br>

<div class="about-this-site">
    <h1>About This Site</h1>
    <hr>

    <p>I developed a website using Python's Flask web framework. Like the UFO dataset website, this website also deals with another large dataset of sightings. But this one deals with a lot more data per individual row. I organize the data in easy-to-read ways and make it easy for the user to navigate around and find what they are looking for.</p>

</div>

<br>
<br> <br>


<div class="showcase-skills">
  <h3>What skills does this project showcase?</h3>
  <ul>
    <li><strong>Web Development:</strong> I have developed a website using Flask, which is a web framework that uses Python.</li>
    <li><strong>Data Analysis and Visualization:</strong> I have used a bigfoot sightings dataset to create interactive maps, charts, and tables that display information about the sightings in an easy-to-read and navigate format.</li>
    <li><strong>Data Filtering and Sorting:</strong> I have implemented features that allow users to filter and sort the data based on different criteria, such as date, location, or type of sighting. User Interface Design: I have designed a user-friendly interface that makes it easy for users to navigate and interact with the data displays and features.</li>
  </ul>
</div>

<div class="see-code">
  <a href="https://github.com/Christopher1994-1/bigfoot-dataset-website" target="_blank"><h1>See The Code</h1></a>
  </div>

<br>


<script src="/static/js/main_js.js"></script>
<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Bootstrap JavaScript file -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script>
$(document).ready(function(){
  // Initialize the carousel
  $('#carouselExampleCaptions').carousel();
});
</script>


{% endblock %}