{% block card_group %}

<div style="width:90%; margin:auto; margin-top:30px; background-color: gainsboro; padding: 10px;">

  <div class="row row-cols-1 row-cols-md-3 g-4">


    <div class="col">
      <div class="card h-100">
        <img src="/static/images/investor-site.jpg" class="card-img-top" height="200" />
        <div class="card-body">
          <h5 class="card-title">Flask Investor Remake</h5>
          <p class="card-text">
            Featuring a sleek design & clear navigation, our Flask-based website offers a comprehensive investment 
            experience, including financial data, company news, investor resources, & easy contact options.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <a href="{{ url_for('investor_site') }}" style="text-decoration: none;">Learn More</a> | 
            <a href="https://github.com/Christopher1994-1/products_flask_site/blob/main/flask_site/routes.py"  style="text-decoration: none;">See Code</a>
          </small>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card h-100">
        <img src="/static/images/p4.png" class="card-img-top"  height="200" />
        <div class="card-body">
          <h5 class="card-title">Django 3D Smoke Shop</h5>
          <p class="card-text">
            My Django-based platform features a comprehensive product showcase, allowing smoke shop customers 
            to browse and stay informed on the latest offerings, with the option to sign up for sales notifications 
            via email or text.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <a href="{{ url_for('smoke_shop') }}" style="text-decoration: none;">Learn More</a> | 
            <a href="https://github.com/Christopher1994-1/3d_smokeshop_website/blob/main/smokeshop/smokeshop_site/views.py"  style="text-decoration: none;">See Code</a>
          </small>
        </div>
      </div>
    </div>




  </div>

</div>
{% endblock %}
