{% block card_group %}

<div style="width:90%; margin:auto; margin-top:30px; background-color: gainsboro; padding: 10px;">

  <div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
      <div class="card h-100">
        <img src="/static/images/sites/starbucks/star1.png" class="card-img-top" height="200"/>
        <div class="card-body">
          <h5 class="card-title">Flask Starbucks Remake</h5>
          <p class="card-text">I developed a remake of Starbucks website using HTML, CSS and Python web framework utilizing Flask. 
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <a href="{{ url_for('starbucks_site') }}" style="text-decoration: none;">Learn More</a> | 
            <a href="https://github.com/Christopher1994-1/flask_starbucks_remake"  style="text-decoration: none;">See Code</a> | 
            <a href="{{ url_for ('starbucks_website') }}" style="text-decoration: none;">Demo</a>
          </small>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="/static/images/sites/tattoo/p1.png" class="card-img-top" height="200" />
        <div class="card-body">
          <h5 class="card-title">Flask Tattoo Shop</h5>
          <p class="card-text">
            I designed a website for a tattoo shop using Flask and Python that is both visually 
            impressive and highly functional. The website features a portfolio of the artists' 
            work, artist information and social media links, a user-friendly interface for quote 
            and appointment requests, and database and email alert capabilities.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <a href="{{ url_for('tattoo_shop') }}" style="text-decoration: none;">Learn More</a> | 
            <a href="https://github.com/Christopher1994-1/flask_tattoo_website"  style="text-decoration: none;">See Code</a> | 
            <a href="{{ url_for ('tattoo_mock') }}" style="text-decoration: none;">Demo</a>
          </small>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="/static/images/p4.png" class="card-img-top"  height="200" />
        <div class="card-body">
          <h5 class="card-title">Django 3D Smoke Shop</h5>
          <p class="card-text">
            My Django-based platform features a comprehensive product showcase, allowing smoke shop customers 
            to browse and stay informed on the latest offerings, with the option to sign up for sales notifications 
            via email or text.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <a href="{{ url_for('smoke_shop') }}" style="text-decoration: none;">Learn More</a> | 
            <a href="https://github.com/Christopher1994-1/3d_smokeshop_website/blob/main/smokeshop/smokeshop_site/views.py"  style="text-decoration: none;">See Code</a>
          </small>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card h-100">
        <img src="/static/images/investor-site.jpg" class="card-img-top" height="200" />
        <div class="card-body">
          <h5 class="card-title">Flask Investor Remake</h5>
          <p class="card-text">
            Featuring a sleek design & clear navigation, our Flask-based website offers a comprehensive investment 
            experience, including financial data, company news, investor resources, & easy contact options.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <a href="{{ url_for('investor_site') }}" style="text-decoration: none;">Learn More</a> | 
            <a href="https://github.com/Christopher1994-1/products_flask_site/blob/main/flask_site/routes.py"  style="text-decoration: none;">See Code</a>
          </small>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card h-100">
        <img src="/static/images/dentist/page1.png" class="card-img-top" height="200" />
        <div class="card-body">
          <h5 class="card-title">Dentist Demo Website</h5>
          <p class="card-text">
            My dental website built using Flask showcases a modern and professional design, offering a user-friendly 
            experience for both patients and dentists. The website has a clean and sleek layout, making it easy for 
            visitors to navigate and find the information they need.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <a href="{{ url_for('dentist_about') }}" style="text-decoration: none;">Learn More</a> | 
            <a href="https://github.com/Christopher1994-1/dental_site"  style="text-decoration: none;">See Code</a> |
            <a href="{{ url_for ('dentist') }}" style="text-decoration: none;">Demo</a>
          </small>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}
