{% extends 'base.html' %}

{% block title %}
    <title>CEJ Portfolio | Certificates</title>
{% endblock title %}

{% block content %}

<link rel="stylesheet" href="/static/css/certs.css">

<br><br><br><br><br><br><br>

<h1 id="certs-header">Certificates</h1>

<div class="certs">
    <a href="https://www.hackerrank.com/certificates/a76651bd9894" target="_blank"><img src="/static/images/cert1.png" alt=""></a>

    <a href="#"><img src="/static/images/cert2.jpg" alt="" width="799" height="598"></a>

    <a href="#"><img src="/static/images/cert3.jpg" alt="" width="799" height="598"></a>
</div>

{% endblock content %}