{% extends "base.html" %}

{% block title %}
    <title>CEJ Portfolio | {{ project_name }} Contribution</title>
{% endblock title %}



{% block content %}
<link rel="stylesheet" href="/static/css/contributions.css">

<br>
<br>
<br><br><br><br><br>


<div class="project-showcase">
    <h1>{{ project_name }} Commits -</h1>
    <br>

    <ul>
        {% for row in commits.items() %}
        <li><strong><a href="{{ row[1][0] }}" target="_blank">{{ row[0] }}</a></strong> {{ row[1][1]}}</li>
        {% endfor %}
    </ul>
</div>



{% endblock content %}