{% extends "base.html" %}

{% block title %}
    <title>CEJ Portfolio | {{ project_name }} Contribution</title>
{% endblock title %}



{% block content %}
<link rel="stylesheet" href="/static/css/contributions.css">

<br>
<br>
<br><br><br><br><br>


<div class="project-showcase">
    <h1>{{ project_name }} Commits -</h1>
    <br>

    <ul>
        <li><strong><a href="https://github.com/JohnRick120/Python_Clock/commit/060e4a5cd0bda97ffedec4d0af0a625f7e6155de">#060e4a5</a></strong> added datetime var, months dict, new layout</li>
        <li><strong><a href="https://github.com/JohnRick120/Python_Clock/commit/5c1d8d3f72fd82bdf9270df1249a7b1f2fadef9a">#5c1d8d3</a></strong> updated read me</li>
    </ul>
</div>



{% endblock content %}