{% extends "base.html" %}

{% block title %}
    <title>CEJ Portfolio | Contributions</title>
{% endblock title %}



{% block content %}

<link rel="stylesheet" href="/static/css/contributions.css">
<link rel="stylesheet" href="/static/css/showcase_skills.css">

<br>
<br>
<br><br><br><br><br>

<h1 id="contributions-header">My Open Source Contributions</h1>
<br>


<div class="contributions-container">

    <ul>
        <li><a href="https://github.com/Christopher1994-1/Python_Clock" target="_blank">Python Clock </a> a small python clock program <strong><a href="{{ url_for('python_clock') }}"> Commits</a></strong></li>
    </ul>

</div>


<br>
<div class="what-is-open-source-p">
  <h1>What is Open-Source?</h1>
  <p>Contributing to open source means collaborating on the development of software or other projects that are freely available for anyone to use, modify, and distribute.</p>
</div>

<br><br>





<div class="showcase-skills">
    <h3>Skills I've learned Contributing to Open-Source Projects.</h3>
    <ul>
      <li><strong>Technical Skills: </strong> Open-source contributions provide an opportunity to work with other developers and contribute to real-world projects. This has helped me gain experience in programming languages, frameworks, and tools. Contributing to open-source projects also provided me a platform to practice code reviews, debugging, and testing.</li>
      <li><strong>Collaboration Skills: </strong> Open-source contributions involve working with other developers in a collaborative environment. This has helped me develop skills such as communication, teamwork, and conflict resolution. I learded how to work with diverse teams, understand project requirements, and contribute to the larger open-source community.</li>
      <li><strong>Project Management Skills: </strong> Contributing to open-source projects has exposured me to project management techniques, such as issue tracking, version control, and agile methodologies. This has helped me understand how to manage tasks, prioritize work, and track progress.</li>
      <li><strong>Problem-Solving Skills: </strong> Contributing to open-source projects has required me to identify, troubleshoot, and solve problems. This has helped me further develop my skills in critical thinking, creativity, and problem-solving. I have also learned how to address issues, propose solutions, and test my ideas in a real-world context.</li>
      <li><strong>Soft Skills: </strong> Contributing to open-source has helped me develop soft skills such as time management, organization, and attention to detail. I have learned how to manage my time effectively, meet deadlines, and pay attention to details such as code quality and documentation.</li>
    </ul>
  </div>

  <br>

{% endblock content %}