{% extends "base.html" %}



{% block content %}
<link rel="stylesheet" href="/static/css/desktop_assistant.css">

<br><br><br><br><br><br><br><br>


<div class="first-div">
    <h1>Database Contacts GUI (Graphical User Interface)</h1>
    <hr>
    <p>This is a Python tkinter GUI program that uses a local database to store contect information. Note: the GUI doesn't create the database it only adds to one that is already on the local drive.</p>
</div>

<br>

<div class="second-div">
    <img src="/static/images/programming.jpg" alt="">
</div>


<div class="third-div">
    <a href="https://github.com/Christopher1994-1/database_contacts_GUI/blob/main/main_app.py" target="_blank"><h1>Check Out The Code</h1></a>
</div>


<div class="links-github">
    <div class="inside-github">
        <a href="https://github.com/Christopher1994-1/database_contacts_GUI" target="_blank"><i class="fa fa-github"></i></a>
    </div>
</div>
<br>


<div class="commands">
    <p>This first image is what the GUI looks like without any data inside it.</p>
</div>

<br>

<div class="gui-img2">
    <img src="https://raw.githubusercontent.com/Christopher1994-1/database_contacts_GUI/main/images/image1_no_data.JPG" alt="">

</div>

<br>

<div class="commands">
    <p>left frame submit button takes what you type into the entries and adds them to a local database and then the entries get erased for the next entry and updates database in real time.</p>
</div>

<br>


<div class="gui-img2">
    <img src="https://raw.githubusercontent.com/Christopher1994-1/database_contacts_GUI/main/images/image2_red_sub_bttn.JPG" alt="">

</div>

<br>

<div class="commands">
    <p>right frame submit button puts the contact information you select and puts it on the bottom of the GUI
        When you select a contact and hit the edit button a new window pops up with entries with the data you selected already in those entries. The close button is disabled, the submit button updates your changes in real time.</p>
</div>
<br>
<div class="gui-img3">
    <img src="https://raw.githubusercontent.com/Christopher1994-1/database_contacts_GUI/main/images/image4_edit_button_red.JPG" alt="">

</div>
<br>

<div class="commands">
    <p>After the change</p>
</div>

<br>

<div class="gui-img3">
    <img src="https://raw.githubusercontent.com/Christopher1994-1/database_contacts_GUI/main/images/image4_edit_button_red2.JPG" alt="">
</div>

<br>

<div class="commands">
    <p>When you select a contact and click the delete button, that data is removed from the database and taken off the list in real time.
    </p>
</div>

<br>

<div class="gui-img2">
    <img src="https://raw.githubusercontent.com/Christopher1994-1/database_contacts_GUI/main/images/image5_jane_delete.JPG" alt="">

</div>

{% endblock %}