{% extends '/dentist/base.html' %}


{% block title %}
    <title>Rola - Medical Dental</title>
{% endblock title %}



{% block content %}

    {% include '/dentist/first-index-section.html' %}

    <br>

    {% include '/dentist/second-index-section.html' %}


    {% include '/dentist/third-index-section.html' %}


    {% include '/dentist/fourth-index-section.html' %}
    <br>


    {% include '/dentist/fifth-index-section.html' %}
    <br><br>

    {% include '/dentist/reviews.html' %}
    <br><br>
    

{% endblock content %}