{% extends "base.html" %}

{% block title %}
    <title>CEJ Portfolio | Home Page</title>
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/my_skills.css">
<link rel="stylesheet" href="/static/css/highlight_projects.css">
<link rel="stylesheet" href="/static/css/homepage-links.css">

<br>
<br>
<br><br><br><br><br>

<div class="two-front-boxes">

    <div class="box1">
        <div class="two-boxes-h1">
                <h1>Hi. I'm Christopher</h1>
        </div>

        <div class="two-boxes-p">
            <p>I'm a freelance Python full stack developer, specializing in back-end programming but have skills in front-end. Check out my work in the projects dropdown and feel free to get in touch.</p>
        </div>

        <div class="main-box-buttons">
            <div class="get-in-touch-btn">
                <a href="{{ url_for('contact') }}"><button>GET IN TOUCH</button></a>
            </div>

            <div class="resume-btn">
                <a href="{{ url_for('resume') }}"><button>RESUME</button></a>
            </div>
        </div>
    </div>

        <div class="box2">
            <img class="img" src="/static/images/IMG_E3263.JPG" alt="me">


        </div>

</div>
<br><br>

<div class="highlighted-projects">

    <div class="highlighted-projects-header">
        <h1>Highlighted Projects</h1>
    </div>

    <div class="demo-site-class">
        <a href="{{ url_for ('starbucks_website') }}"><h4>Check Out This Demo</h4></a>
    </div>

    <div class="project-1">

        <div class="project-1_image">
            <img src="/static/images/sites/starbucks/star1.png" alt="project image" width="400" height="200">
        </div>

        <div class="inner-project-1-elements">
            <div class="project-1_header">
                <h2>Starbucks Remake</h2>
            </div>

            <div class="project-1_paragraph">
                <p>I developed Starbucks main website using HTML, CSS and Python's flask webframe.</p>
            </div>


            <div class="project-1_buttons">

                <div class="project-1_btn-1">
                    <button><a href="{{ url_for('starbucks_site') }}">View Project</a></button>
                </div>

                <div class="project-1_btn-2">
                    <button><a href="https://github.com/Christopher1994-1/flask_starbucks_remake" target="_blank">View Code</a></button>
                </div>

            </div>
        </div>
    </div>



    <div class="project-2">


        <div class="inner-project-2-elements">

            <div class="project-2_header">
                <h2>Advanced Calculator GUI</h2>
            </div>

            <div class="project-2_paragraph">
                <p>I developed a comprehensive calculator application using Python's Tkinter library and object-oriented programming techniques.</p>
            </div>


            <div class="project-1_buttons">

                <div class="project-1_btn-1">
                    <button><a href="{{ url_for('full_calculator') }}">View Project</a></button>
                </div>

                <div class="project-1_btn-2">
                    <button><a href="https://github.com/Christopher1994-1/full_calculator_gui_oop" target="_blank">View Code</a></button>
                </div>

            </div>

        </div>

        <div class="project-2_image">
            <img src="/static/images/cal_picture.jpg" alt="project image" width="400" height="200">
        </div>

    </div>


    <div class="project-1">

        <div class="project-1_image">
            <img src="/static/images/investor-site.jpg" alt="project image" width="400" height="200">
        </div>

        <div class="inner-project-1-elements">
            <div class="project-1_header">
                <h2>Rebuild Investor Website</h2>
            </div>

            <div class="project-1_paragraph">
                <p>This site was my second attempt at building a flask website, this time focusing more on 
                    HTML/CSS aesthetics rather than backend functionality. It is a remake site of Annaly Capital 
                    investor website. Though, it does make use of an API</p>
            </div>


            <div class="project-1_buttons">

                <div class="project-1_btn-1">
                    <button><a href="{{ url_for('investor_site') }}">View Project</a></button>
                </div>

                <div class="project-1_btn-2">
                    <button><a href="https://github.com/Christopher1994-1/products_flask_site/tree/main/flask_site" target="_blank">View Code</a></button>
                </div>

            </div>
        </div>
    </div>




</div>

<br>
<div class="homepage-links">
    <h1>~ Check out my links ~</h1>

    <img src="/static/images/programming.jpg" alt="">

    <div class="links">

        <div class="links-github">
            <a href="https://github.com/Christopher1994-1" target="_blank"><i class="fa fa-github"></i></a>
        </div>

        <div class="links-linkedin">
            <a href="https://www.linkedin.com/in/christopher-van-niekirk-887625235/" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>

    </div>

</div>

<br>




<br>



<br> 
<br>

{% endblock %}