{% extends "base.html" %}

{% block title %}
    <title>CEJ Portfolio | Investor Site</title>
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="/static/css/archive_site.css">
<link rel="stylesheet" href="/static/css/web_design_mobile.css">

<br><br><br><br><br><br><br><br>
 <!-- Slideshow container -->

<div style="width: 85%; margin: auto;">

 <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="7000">
      <ol class="carousel-indicators my-4">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>

      </ol>
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img src="/static/images/investor_site/investor-site.jpg" class="d-block w-100" alt="...">
          <!-- <div class="carousel-caption d-none d-md-block bg-dark mb-4">
            <h5>Home Page - Ad Shown</h5>
            <p>Here the customer is greeted with an ad, it tells them whats on sale and for how long</p>
          </div> -->
        </div>

        <div class="carousel-item">
          <img src="/static/images/investor_site/investor-site2.jpg" class="d-block w-100" alt="...">
          <!-- <div class="carousel-caption d-none d-md-block bg-dark mb-4">
            <h5>Home Page - Shop</h5>
            <p>Here the customer can choose to look through accessories, vapes, pipes etc</p>
          </div> -->
        </div>

        <div class="carousel-item">
          <img src="/static/images/investor_site/investor-site3.jpg" class="d-block w-100" alt="...">
          <!-- <div class="carousel-caption d-none d-md-block bg-dark mb-4">
            <h5>Home Page - Best Products</h5>
            <p>Here the customer can look through the shops best selling products</p>
          </div> -->
        </div>

        <div class="carousel-item">
            <img src="/static/images/investor_site/investor-site4.jpg" class="d-block w-100" alt="...">
            <!-- <div class="carousel-caption d-none d-md-block bg-dark mb-4">
              <h5>Home Page - Misc</h5>
              <p>Here is just misc website filler.</p>
            </div> -->
          </div>

      </div>


      

      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>


<br><br>

<div class="about-this-site">
    <h1>About This Site</h1>
    <hr>

    <p>I have designed and implemented a web platform utilizing the Python-based 
      web framework Flask, which serves as a comprehensive resource for potential investors. 
      The platform features detailed information about the company, including compelling reasons 
      for investment and upcoming events such as shareholder meetings. Additionally, the platform 
      integrates a real-time stock ticker that is updated via a secure API. The platform also as the ability to
      leverage the power of MySQL databases to store and manage event information and other 
      relevant data, ensuring that investors have access to the most up-to-date information at all times.</p>

</div>

<br>
<br> <br>

<div class="see-code">
  <a href="https://github.com/Christopher1994-1/3d_smokeshop_website/blob/main/smokeshop/smokeshop_site/views.py" target="_blank"><h1>See The Code</h1></a>
  </div>

<br>


<script src="/static/js/main_js.js"></script>
<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Bootstrap JavaScript file -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script>
$(document).ready(function(){
  // Initialize the carousel
  $('#carouselExampleCaptions').carousel();
});
</script>


{% endblock %}