{% extends "base.html" %}



{% block content %}
<link rel="stylesheet" href="/static/css/desktop_assistant.css">
<link rel="stylesheet" href="/static/css/programming_mobile.css">

<br><br><br><br><br><br><br><br>


<div class="first-div">
    <h1>Password GUI (Graphical User Interface)</h1>
    <hr>
    <p>This is something I put together over a weekend for personal use and it's a pretty simple GUI that I think is pretty useful, i used 'customtkinter' from <a href="https://github.com/TomSchimansky/CustomTkinter">here</a> to customize it.</p>
</div>

<br>

<div class="second-div">
    <img src="/static/images/programming.jpg" alt="">
</div>


<div class="third-div">
    <a href="https://github.com/Christopher1994-1/password_gui/blob/main/database_init.py" target="_blank"><h1>Check Out The Code</h1></a>
</div>


<div class="links-github">
    <div class="inside-github">
        <a href="https://github.com/Christopher1994-1/password_gui" target="_blank"><i class="fa fa-github"></i></a>
    </div>
</div>
<br>


<div class="gui-img">
    <img src="https://raw.githubusercontent.com/Christopher1994-1/password_gui/main/images/image1.png" alt="">

</div>

<br>

<div class="commands">
    <p>This is the front of the GUI and it displays the current password accounts you have and you click on one in the list box and hit the show details button and then it adds the rest of the details to be displayed.</p>
</div>

<br>


<div class="gui-img">
    <img src="https://raw.githubusercontent.com/Christopher1994-1/password_gui/main/images/image2.png" alt="">

</div>

<br>


<div class="commands">
    <p>This is when you click the new button which opens up another window where you can add new information to the database.</p>
</div>

<br>

<div class="gui-img">
    <img src="https://raw.githubusercontent.com/Christopher1994-1/password_gui/main/images/image3.png" alt="">
</div>


<br>

<div class="commands">
    <p>The edit button works the same way as the new button does as in it opens up and new window that allows you to edit whatever entry you want to edit.</p>

</div>

<br>

<div class="gui-img">
    <img src="https://raw.githubusercontent.com/Christopher1994-1/password_gui/main/images/image4.png" alt="">
</div>

<br>

<div class="commands">
    <p>There is also a delete button that works the way you think it would work, it deletes a selected entry from both the listbox and the database. I am using SqLite3 for the database.</p>
</div>

<br>

{% endblock %}