{% block title %}
    <title>CEJ Portfolio | OpenAI GUI</title>
{% endblock title %}


{% block programming_slider2 %}

<link rel="stylesheet" href="/static/css/programming_projects.css">



<div class="project_name_and_description">
    <h1>OpenAI API GUI</h1>
    <hr>
    <p>I am currently developing a state-of-the-art, user-friendly graphical user interface (GUI) 
        application using the powerful Python GUI framework, Tkinter, in conjunction with a custom 
        Tkinter module. The application is a text-based conversational AI, designed to provide an 
        intuitive and seamless experience for the end-user. The user is prompted to input text into 
        a text button, and the application utilizes the cutting-edge technology of OpenAI's GPT-3 
        model to generate a highly accurate and natural response. This integration of advanced AI 
        technology with a sleek and user-friendly GUI design makes for a truly impressive and professional 
        application</p>
</div>


<div class="main_container">

    <div class="second_container">
        {% for text in images %}

        <div class="image_text_container">

            <div class="slider_img">
                <img src="https://raw.githubusercontent.com/Christopher1994-1/OpenAI_GUI/main/images/image1.png" alt="" height="280" width="230">
            </div>

            <div class="slider_text">
                <p>{{ text }}</p>
            </div>

        </div>
        {% endfor %}
    </div>

    <div class="arrow_buttons">
        <a class="prev" onclick="plusSlides(-1)">Prev</a>
        <br><br>
        <a class="next" onclick="plusSlides(1)">Next</a>
    </div>

</div>


<div class="buttom_links">

    <div class="check-out-this-link">
        <a href="https://github.com/Christopher1994-1/OpenAI_GUI" target="_blank"><h1>Check Out The Code</h1></a>
    </div>


    <div class="links-github">
        <div class="inside-github">
            <a href="https://github.com/Christopher1994-1/OpenAI_GUI/blob/main/main.py" target="_blank"><i class="fa fa-github"></i></a>
        </div>
    </div>
</div>

<br><br>
  <script src="/static/js/script.js"></script>
  <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->

  {% endblock programming_slider2 %}