{% extends "base.html" %}


{% block title %}
    <title>CEJ Portfolio | My Resume</title>
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="/static/css/resume.css">



<br><br><br>
<br><br><br><br><br><br><br><br>


<div class="resume-container">

    <div class="resume-name-header">
        <h1>CEJ Van Niekirk</h1>
        <h4>Software Developer - Python Developer</h4>
        <h4><a href="https://github.com/Christopher1994-1">Github Account</a> | <a href="https://www.linkedin.com/in/cej-van-niekirk-887625235/">Linkdin Account</a></h4>
    </div>

    <hr id="hr">

    <div class="resume-skills">
        <h1>My Skills</h1>
        <ul>
            <li>•Python</li>
            <li>•MySQL</li>
            <li>•HTML</li>
            <li>•CSS</li>
            <li>•Flask</li>
            <li>•JavaScript</li>
            <li>•Django</li>
            <li>•Tkinter</li>
            <li>•Visual Studio IDE</li>
            <li>•Git/GitHub</li>
            <li>•Ajax</li>
            <li>•MongoDB</li>
            <li>•Data Visualization, Analysis & Manipulation</li>
            <li>•Problem Solving</li>
            <li>•API Integration</li>
            <li>•Web Scraping</li>
            <li>•Python Automation</li>
        </ul>

    </div>


    <div class="resume-projects">
        <h1>Projects</h1>


        <h2>Advanced Calculator GUI</h2>
        <ul>
            <li>I developed a comprehensive calculator application using Python's Tkinter library and object-oriented programming techniques.</li>
            <li>The application features four main options: a basic calculator, a scientific calculator, a currency converter using real-time exchange rates from the ExchangeRate API, and a temperature converter.</li>
            <li>The user interface is intuitive and easy to use, allowing users to quickly and easily access the various calculator functions.</li>
            <li>This project demonstrates my ability to design and implement complex software solutions using a variety of programming concepts and tools in Python.</li>
        </ul>

            <h5><a href="{{ url_for('full_calculator') }}" target="_blank">See Project</a> | <a href="https://github.com/Christopher1994-1/full_calculator_gui_oop/blob/main/main_app.py" target="_blank">See Code</a></h5>


        <h2>Flask ChatGPT Replica</h2>
            <ul>
                <li>I developed a ChatGPT replica website using Flask that uses OpenAI's API to generate responses to user prompts.</li>
                <li>The web UI is designed to mimic the look, feel and functionality of the ChatGPT interface.</li>
                <li>The user enters text prompts in the UI, which are sent to a Python backend via Ajax requests. The Python backend then makes a call to OpenAI's API to generate a response based on the user's prompt and then sent back to Ajax.</li>
            </ul>
        <h5><a href="{{ url_for('about_chat') }}" target="_blank">See Project</a> | <a href="https://github.com/Christopher1994-1/ChatGPT_Replica" target="_blank">See Code</a></h5>



        <h2>UFO Sighting Dataset Website</h2>
        <ul>
            <li>I have developed a website using Python's web framework Flask to create a simple layout to help visualize the massive dataset.</li>
            <li>The dataset has over 117,000 rows inside of it and I developed a website that makes that data easy to navigate so users can have an easy time finding what they're looking for.</li>
            <li>I have also programmed a seach function inside the website that takes in a city and state from the user and searches the entire dataset and shows the sightings in the selected city and state.</li>
            <li>Finally, there is an email function that the user can opt in for, they provide their name, email and city and state (which can be saved to a database) and when new data comes in, and if the new data has the city and state a user has selected an email will go go alerting them of the most recent sighting</li>
        </ul>
        <h5><a href="{{ url_for('ufo_site') }}" target="_blank">See Project</a> | <a href="https://github.com/Christopher1994-1/ufo_dataset_website" target="_blank">See Code</a></h5>


        <h2>Desktop Voice Assistant</h2>
        <ul>
            <li>I developed a desktop voice assistant using Python and advanced speech recognition technology.</li>
            <li>This assistant is able to run in the background, listening for a user-defined "wake word" to activate it.</li>
            <li>Once activated, it is capable of performing a wide range of tasks including providing the weather forecast, opening websites, taking notes, giving information about a specific topic, and even sending text messages to contacts.</li>
            <li>The integration of speech recognition, logic and text-to-speech technologies allows for a highly functional and convenient user experience.</li>
        </ul>
        <h5><a href="{{ url_for('desktop_assistant') }}" target="_blank">See Project</a> | <a href="https://github.com/Christopher1994-1/desktop_assistant/blob/main/desktop_main.py" target="_blank">See Code</a></h5>



    </div>



    <div class="resume-summary">
        <h1>Summary</h1>
        <p>I am a quick learner, obsessive problem solver, and creative thinker. I am a strong team player 
            and have strong communication skills. I have a passion for programming and building software 
            and web applications, and am always striving to learn more and improve as both a software 
            developer and an individual.</p>

    </div>
    <br>
</div>


<br><br><br>


{% endblock %}