{% extends "base.html" %}



{% block content %}
<link rel="stylesheet" href="/static/css/archive_site.css">
<link rel="stylesheet" href="/static/css/web_design_mobile.css">

<br><br><br><br><br><br><br><br>
 <!-- Slideshow container -->

<div style="width: 85%; margin: auto;">

 <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="7000">
      <ol class="carousel-indicators my-4">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>

      </ol>
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img src="/static/images/p1.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block bg-dark mb-4">
            <h5>Home Page - Ad Shown</h5>
            <p>Here the customer is greeted with an ad, it tells them whats on sale and for how long</p>
          </div>
        </div>

        <div class="carousel-item">
          <img src="/static/images/p2.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block bg-dark mb-4">
            <h5>Home Page - Shop</h5>
            <p>Here the customer can choose to look through accessories, vapes, pipes etc</p>
          </div>
        </div>

        <div class="carousel-item">
          <img src="/static/images/p3.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block bg-dark mb-4">
            <h5>Home Page - Best Products</h5>
            <p>Here the customer can look through the shops best selling products</p>
          </div>
        </div>

        <div class="carousel-item">
            <img src="/static/images/p4.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block bg-dark mb-4">
              <h5>Home Page - Misc</h5>
              <p>Here is just misc website filler.</p>
            </div>
          </div>

      </div>


      

      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>


<br><br>

<div class="about-this-site">
    <h1>About This Site</h1>
    <hr>

    <p>I developed a website using the Python Django framework, it
        offers a user experience with the ability to capture customer information such 
        as emails and phone numbers, and store them securely in a MySQL database. This enables the site to 
        send targeted and personalized notifications to customers regarding sales, special offers, 
        and friendly reminders to visit the store and take advantage of weekend deals. Furthermore, 
        the site can be equipped with advanced database management capabilities, allowing customers 
        to easily browse and discover the wide range of products. With these features, the site
        is good for efficiency and convenience.</p>

</div>

<br>
<br> <br>

<div class="see-code">
  <a href="https://github.com/Christopher1994-1/3d_smokeshop_website/blob/main/smokeshop/smokeshop_site/views.py" target="_blank"><h1>See The Code</h1></a>
  </div>

<br>


<script src="/static/js/main_js.js"></script>
<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Bootstrap JavaScript file -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script>
$(document).ready(function(){
  // Initialize the carousel
  $('#carouselExampleCaptions').carousel();
});
</script>


{% endblock %}