{% extends "base.html" %}



{% block content %}
<link rel="stylesheet" href="/static/css/archive_site.css">
<link rel="stylesheet" href="/static/css/web_design_mobile.css">
<link rel="stylesheet" href="/static/css/showcase_skills.css">

<br><br><br><br><br><br><br><br>
 <!-- Slideshow container -->

<div style="width: 85%; margin: auto;">

 <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="7000">
      <ol class="carousel-indicators my-4">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>

      </ol>
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img src="/static/images/weather-thing2.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block bg-dark mb-4">
            <h5>Home Page</h5>
            <p>The home page is simple displays the current weather of a given city, see below for more info</p>
          </div>
        </div>

      </div>


      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>


<br><br>

<div class="about-this-site">
    <h1>About This Site</h1>
    <hr>

    <p>I developed a comprehensive website using the Django framework, integrating the Open 
      Weather API and Geo-Names API to deliver real-time weather information for user-specified 
      cities. In addition to providing current weather conditions, the website has the capability 
      to function as a news aggregator, offering a diverse range of news sources and updates. 
      My project showcases my strong skills in web development and API integration, as well as 
      my ability to create functional and user-friendly websites</p>

</div>

<br>
<br> <br>


<div class="showcase-skills">
  <h3>What skills does this project showcase?</h3>
  <ul>
    <li><strong>Web Development:</strong> Building a comprehensive website using the Django framework demonstrates my knowledge of web development principles and technologies, as well as my experience with a popular web development framework.</li>
    <li><strong>API Integration:</strong> Integrating the Open Weather API and Geo-Names API demonstrates my ability to work with APIs, access and retrieve data from external sources, and integrate that data into my web application.</li>
    <li><strong>User-Centered Design:</strong> The capability of the website to function as a weather and news aggregator showcases my understanding of creating user-friendly and functional websites that meet the needs of users.</li>
    <li><strong>Problem-Solving:</strong> Developing a project that integrates APIs and provides real-time weather information for user-specified cities demonstrates my ability to identify a problem and find a solution through technology.</li>
  </ul>
</div>

<div class="see-code">
  <a href="https://github.com/Christopher1994-1/weather_site_django/blob/main/first_site/events/views.py" target="_blank"><h1>See The Code</h1></a>
  </div>

<br>


<script src="/static/js/main_js.js"></script>
<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Bootstrap JavaScript file -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script>
$(document).ready(function(){
  // Initialize the carousel
  $('#carouselExampleCaptions').carousel();
});
</script>


{% endblock %}