{% extends "base.html" %}



{% block content %}
<link rel="stylesheet" href="/static/css/web-design.css">

<br><br><br><br><br><br><br><br>


<h1 class="web-design-main-header">My Web Applications</h1>


<div class="front-web-design-boxes2">

    <div class="main-box1">
        <div class="site-description-tag">
            <p>This website is a Django-based website that incorporates the <a href="https://openweathermap.org/" target="_blank">OpenWeather</a> and Geo-Names 
                APIs to display real-time weather data for a specific location</p>
        </div>

        <div class="picture-container-box1">
            <!-- holding the picture background -->
        </div>



        <div class="button-container">
            <div class="button-1">
                <a href="{{ url_for('weather_site') }}"><button>See Details</button></a>
            </div>

            <div class="button-2">
                <a href="http://cejweatherapp.pythonanywhere.com/" target="_blank"><button>Site Example</button></a>
            </div>
        </div>

    </div>

</div>

<hr id="main-hr">

<div class="front-web-design-boxes3">

    <div class="main-box1">
        <div class="site-description-tag">
            <p>A recreated investor website I built using Python's Flask framework and the TweleveData
                APi to get real time stock information.</p>
        </div>

        <div class="picture-container-box2">
            <!-- holding the picture background -->
        </div>



        <div class="button-container">
            <div class="button-1">
                <a href="{{ url_for('investor_site') }}"><button>See Details</button></a>
            </div>

            <div class="button-23">
                <button>Site Example</button>
            </div>
        </div>

    </div>

</div>



<hr id="main-hr">



<div class="front-web-design-boxes4">

    <div class="main-box1">
        <div class="site-description-tag">
            <p>This family archive website, built with Flask and MySQL, offers a secure login system and allows 
                users to submit and access historical documents, creating an organized resource for preserving 
                and sharing family history.</p>
        </div>

        <div class="picture-container-box3"> <!-- the only thing you need to update is the box number -->
            <!-- holding the picture background -->
        </div>



        <div class="button-container">
            <div class="button-1">
                <a href="{{ url_for('archive_site') }}"><button>See Details</button></a>
            </div>

            <div class="button-23">
                <button>Site Example</button>
            </div>
        </div>

    </div>

</div>











<br><br>

<div class="this-site">
    <h1>
        This site you are on was also developed by me
    </h1>
</div>

<br>

<h2 class="check-out-this">Check Out The Code For This Site</h2>

<div class="links-github2">
    <a href="https://github.com/Christopher1994-1/portfolio_flask_site" target="_blank"><i class="fa fa-github"></i></a>
</div>


{% endblock %}