{% extends "base.html" %}



{% block content %}
<link rel="stylesheet" href="/static/css/web-design.css">

<br><br><br><br><br><br><br><br>


<div class="front-web-design-boxes">
    <div class="box1">
        <a href="{{ url_for('archive_site') }}"><button>Archive Website</button></a>
    </div>

    <div class="box2">
        <a href="{{ url_for('investor_site') }}"><button>Investor Website</button></a>

    </div>

</div>

<br><br>

<div class="this-site">
    <h1>
        This site you are on was also developed by me
    </h1>
</div>

<br>

<h2 class="check-out-this">Check Out The Code For This Site</h2>

<div class="links-github2">
    <a href="https://github.com/Christopher1994-1/portfolio_flask_site" target="_blank"><i class="fa fa-github"></i></a>
</div>


{% endblock %}