{% extends "base.html" %}


{% block title %}
    <title>CEJ Portfolio | Web Design</title>
{% endblock title %}


{% block content %}
<link rel="stylesheet" href="/static/css/web-design.css">


<br><br><br><br><br><br>


<h1 class="web-design-main-header">My Web Applications</h1>

<br>

{% include 'card_group_two.html' %}

<br>
<div class="different_pages">
<nav aria-label="...">
    <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link" href="{{ url_for('web_design') }}">1</a></li>
      <li class="page-item active" aria-current="page">
        <span class="page-link">2</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
  </nav>
</div>

<br><br>

<div class="this-site">
    <h1>
        This site you are on was also developed by me
    </h1>
</div>

<br>

<h2 class="check-out-this">Check Out The Code For This Site</h2>

<div class="links-github2">
    <a href="https://github.com/Christopher1994-1/portfolio_flask_site" target="_blank"><i class="fa fa-github"></i></a>
</div>


{% endblock %}