*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "New Times Roman" Times serif;
    text-decoration: none;
}

/* CSS code for the navbar header thing */
header {
    position: fixed;
    top: 0; left:0; right: 0;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 20px 7%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/* css code for the CEJ Van Niekirk navbar logo */
header .logo {
    font-weight: bolder;
    font-size: 35px;
    color: #333;
    text-shadow: 1px 1px grey;
    text-decoration: none;
}
header .logo:hover {
    color: rgb(216, 105, 105);
    text-shadow: 2px 2px rgb(0, 0, 0);
}

header .navbar ul {
    list-style: none;
    display: flex;
    margin-top: 7px;
}

header .navbar ul li {
    position: relative;
    text-decoration: none;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: rgb(51, 51, 51);
    border-radius: 20px;
    display: block;
    text-decoration: none;
}

header .navbar ul li a:hover {
    background-color: #333;
    color: rgb(216, 105, 105);
    text-decoration: none;
}




/* CSS code for the dropdown thing */
header .navbar ul li ul {
    position: absolute;
    bottom: -210;
    width: 200px;
    background: rgb(255, 255, 255);
    display: none;
}
header .navbar ul li ul li {
    width: 100%;
    position: relative;
    right: 15px;
    border-top: 1px solid rgba(46, 43, 43, 0.295);
}
header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}
header .navbar ul li:hover > ul {
    display: block;
}






#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}


@media(max-width:991px){
    header{
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: white;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }


    header .navbar ul {
        list-style: none;
        display: flex;
        margin-top: 7px;
        flex-direction: column;
    }

    header .navbar ul li ul li {
        background: #eee;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }


    header .navbar ul li ul {
        position: relative;
        bottom: 0px;
        background: rgb(255, 255, 255);

    }
}

