/* The main header that says "My Web Applications" */
.web-design-main-header {
    width: 400px;
    border: 2px solid rgb(240, 240, 240);
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    background: rgb(240, 240, 240);
    background: linear-gradient(to right, darkgrey, lightgrey);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}




#main-hr {
    width: 1200px;
    margin: auto;
    position: relative;
    top: 15px;
}


/* css for the all container containing all sites */
.front-web-design-boxes2 {
    border: 2px solid gainsboro;
    width: 1000px;
    margin: auto;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    background: gainsboro;
}

/* ####################### */




/* Main box for the first site */
.main-box1 {
    background: gainsboro;
}

/* css for the website description header above the picture */
.site-description-tag {
    width: 780px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 10px;
    background: rgb(58, 58, 58);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

/* css for the website description header paragraph */
.site-description-tag p {
    font-weight: bold;
    width: 750px;
    color: white;
    margin: auto;
}
/* css for the website description header paragraph clickable part */
.site-description-tag p a {
    color: white;
    text-decoration: none;
}
.site-description-tag p a:hover {
    color: rgb(190, 36, 36);
    text-shadow: 2px 2px black;
    text-decoration: none;
}

/* css for the main container holding the wesbite picture example */
.picture-container-box1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    width: 800px;
    border-radius: 25px;
    height: 400px;
    display: inline-block;
    background-image: url("/static/images/weather-thing2.png");
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

/* css for the main container containing the button/buttons */
.button-container {
    display: flex;
    width: 600px;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-1 button{
    margin-right: 5px;
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
    width: 180px;
    height: 30px;
    cursor: pointer;
}
.button-1 button:hover {
    background-color: grey;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}





.button-2 button{
    margin-left: 5px;
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
    width: 180px;
    height: 30px;
    cursor: pointer;
}
.button-2 button:hover {
    background-color: grey;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
























/* css for the second website example */
.front-web-design-boxes3 {
    border: 2px solid gainsboro;
    width: 1000px;
    margin: auto;
    padding: 5px;
    margin-top: 30px;
    border-radius: 20px;
    text-align: center;
    background: gainsboro;
}

/* ####################### */




/* Main box for the first site */
.main-box1 {
    background: gainsboro;
}

/* css for the website description header above the picture */
.site-description-tag {
    width: 780px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 10px;
    background: rgb(58, 58, 58);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

/* css for the website description header paragraph */
.site-description-tag p {
    font-weight: bold;
    width: 750px;
    color: white;
    margin: auto;
}
/* css for the website description header paragraph clickable part */
.site-description-tag p a {
    color: white;
    text-decoration: none;
}
.site-description-tag p a:hover {
    color: rgb(190, 36, 36);
    text-shadow: 2px 2px black;
    text-decoration: none;
}

/* css for the main container holding the wesbite picture example */
.picture-container-box3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    width: 800px;
    border-radius: 25px;
    height: 400px;
    display: inline-block;
    background-image: url("/static/images/final-archive.png");
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

/* css for the main container containing the button/buttons */
.button-container {
    display: flex;
    width: 600px;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-1 button{
    margin-right: 5px;
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
    width: 180px;
    height: 30px;
    cursor: pointer;
}
.button-1 button:hover {
    background-color: grey;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}





.button-23 button{
    margin-left: 5px;
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
    width: 180px;
    height: 30px;
    pointer-events: none;
    opacity: 0.6;
    cursor: none;
}
.button-23 button:hover {
    background-color: grey;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
































/* css for the second website example */
.front-web-design-boxes4 {
    border: 2px solid gainsboro;
    width: 1000px;
    margin: auto;
    padding: 5px;
    margin-top: 30px;
    border-radius: 20px;
    text-align: center;
    background: gainsboro;
}

/* ####################### */




/* Main box for the first site */
.main-box1 {
    background: gainsboro;
}

/* css for the website description header above the picture */
.site-description-tag {
    width: 780px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 10px;
    background: rgb(58, 58, 58);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

/* css for the website description header paragraph */
.site-description-tag p {
    font-weight: bold;
    width: 750px;
    color: white;
    margin: auto;
}
/* css for the website description header paragraph clickable part */
.site-description-tag p a {
    color: white;
    text-decoration: none;
}
.site-description-tag p a:hover {
    color: rgb(190, 36, 36);
    text-shadow: 2px 2px black;
    text-decoration: none;
}

/* css for the main container holding the wesbite picture example */
.picture-container-box2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    width: 800px;
    border-radius: 25px;
    height: 400px;
    display: inline-block;
    background-image: url("/static/images/investor-site.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

/* css for the main container containing the button/buttons */
.button-container {
    display: flex;
    width: 600px;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-1 button{
    margin-right: 5px;
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
    width: 180px;
    height: 30px;
    cursor: pointer;
}
.button-1 button:hover {
    background-color: grey;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}





.button-23 button{
    margin-left: 5px;
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
    width: 180px;
    height: 30px;
    pointer-events: none;
    opacity: 0.6;
    cursor: none;
}
.button-23 button:hover {
    background-color: grey;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}










.this-site {
    width: 85%;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    padding: 5px;
    background-color: rgb(105, 105, 105);
}

.this-site h1 {
    font-weight: bold;
    color: rgb(0, 0, 0);
}


.check-out-this {
    width: 70%;
    margin: auto;
    background: gainsboro;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}


.links-github2 {
    width: 190px;
    padding: 10px;
    margin: auto;
    font-size: 200px;
}
.links-github2 a {
    color: rgb(87, 2, 87);
}




@media(max-width:991px) {
    #main-hr {
        width: 300px;
    }

    .front-web-design-boxes2 {
        width: 400px;
    }
    .site-description-tag {
        width: 350px;
    }
    .site-description-tag p {
        width: 350px;
    }
    .picture-container-box1 {
        width: 350px;
    }
    .button-container {
        width: 350px;
    }


    .front-web-design-boxes3 {
        width: 400px;
    }
    .picture-container-box2 {
        width: 350px;
    }



    .front-web-design-boxes4 {
        width: 400px;
    }
    .picture-container-box3 {
        width: 350px;
    }





    .this-site {
        width: 350px;
    }

}


@media(max-width:591px) {
    .web-design-main-header {
        margin-top: 0;
        margin-bottom: 0;
    }

    .this-site {
        margin-top: 0;
        width: 90%;
    }
}